Repository PaloAltoNetworks/prisma-cloud-docs, pull requests merged in 2023-02, with the labels that each got.

#872 [CodeSec AG] Fixed Cosmetic Changes
  code-security/admin_guide/get-started/connect-your-repositories/add-azurerepos.adoc
  code-security/admin_guide/get-started/connect-your-repositories/add-circleci.adoc
  code-security/admin_guide/get-started/connect-your-repositories/add-gitlab-runner.adoc
  code-security/admin_guide/get-started/connect-your-repositories/add-terraform-cloud.adoc
  code-security/admin_guide/get-started/connect-your-repositories/add-terraform-enterprise.adoc
  code-security/admin_guide/get-started/supported-languages-for-specific-domains.adoc
  code-security/admin_guide/scan-monitor/drift-detection.adoc
  code-security/admin_guide/scan-monitor/secrets-scanning.adoc
Labels: tested

#846 [Compute AG: Vuln mgmt]: Grammar fixes
  compute/admin_guide/vulnerability_management/troubleshoot_vuln_detection.adoc
Labels: tested, compute-AG, ready-to-be-merged

#868 [CSPM AG] OCI Onboarding Updates for 23.2.1
  cspm/admin-guide/_graphics/ftu-cloud-selection.png
  cspm/admin-guide/_graphics/oci-onboard-setup-1.png
  cspm/admin-guide/_graphics/oci-onboard-setup-2.png
  cspm/admin-guide/_graphics/oci-onboard-setup-4.png
  cspm/admin-guide/_graphics/oci-onboard-setup-5.png
  cspm/admin-guide/_graphics/oci-onboard-setup-6.png
  cspm/admin-guide/_graphics/oci-onboard-setup-7.png
  cspm/admin-guide/_graphics/oci-onboard-setup-8.png
  cspm/admin-guide/_graphics/oci-onboard-verify-1.png
  cspm/admin-guide/_graphics/oci-onboard-verify-2.png
  cspm/admin-guide/_graphics/oci-onboard-verify-3.png
  cspm/admin-guide/_graphics/oci-pc-asset-inv-1.png
  cspm/admin-guide/_graphics/oci-pc-dashboard-1.png
  cspm/admin-guide/_graphics/oci-pc-policy-1.png
  cspm/admin-guide/_graphics/oci-tenant-console-1.png
  cspm/admin-guide/_graphics/oci-tenant-console-2.png
  cspm/admin-guide/_graphics/oci-tenant-console-4.png
  cspm/admin-guide/_graphics/oci-tenant-console-6.png
  cspm/admin-guide/_graphics/oci-uncheck-primary-email-address-reqd.png
  cspm/admin-guide/_graphics/update-oci-onboarding-stack-edit.png
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-oci-account/add-oci-tenant-to-prisma-cloud.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-oci-account/permissions-required-for-oci-tenant-on-prisma-cloud.adoc
Labels: docs, tested, cspm ag

#861 [Compute AG]: Screenshots and grammar fixes in Alerts section
  compute/admin_guide/alerts/aws_security_hub.adoc
  compute/admin_guide/alerts/email.adoc
  compute/admin_guide/alerts/frag_config_triggers.adoc
  compute/admin_guide/alerts/frag_send_alerts.adoc
  compute/admin_guide/alerts/slack.adoc
  compute/admin_guide/alerts/xdr.adoc
  compute/admin_guide/alerts/xsoar.adoc
Labels: docs, tested, compute-AG

#870 [Compute AG: CWP-45329]: N-2 backward compatibility info update
  compute/admin_guide/_graphics/upgrade_defender_version.png
  compute/admin_guide/upgrade/upgrade_process_saas.adoc
  compute/admin_guide/upgrade/upgrade_process_self_hosted.adoc
Labels: docs, tested, compute-AG

#808 Updated Python Scripts for SaaS and Self-hosted Outputs
  api/_build/src/gen_supported_spec_saas.py
  api/_build/src/gen_supported_spec_selfhosted.py
Labels: compute-api

#854 [Compute AG]: Fix formatting
  compute/admin_guide/configure/collections.adoc
Labels: tested, compute-AG, ready-to-be-merged

#867 [CSPM RN] - Feb 2023 - 23.2.1 Updates
  cspm/rn/_graphics/asset-class-filter-results.png
  cspm/rn/_graphics/forward-audit-logs.gif
  cspm/rn/book.yml
  cspm/rn/prisma-cloud-release-information/features-introduced-in-2022/features-introduced-in-october-2022.adoc
  cspm/rn/prisma-cloud-release-information/features-introduced-in-2023/features-introduced-in-2023.adoc
  cspm/rn/prisma-cloud-release-information/features-introduced-in-2023/features-introduced-in-february-2023.adoc
  cspm/rn/prisma-cloud-release-information/features-introduced-in-2023/features-introduced-in-january-2023.adoc
  cspm/rn/prisma-cloud-release-information/known-issues.adoc
  cspm/rn/prisma-cloud-release-information/limited-ga-features-prisma-cloud.adoc
  cspm/rn/prisma-cloud-release-information/look-ahead-planned-updates-prisma-cloud.adoc
Labels: docs, cspm rn

#900 [CodeSec AG] Licensing Modules (RLP-85319)
  code-security/admin_guide/_graphics/licensing-metering-plan-1.png
  code-security/admin_guide/book.yml
  code-security/admin_guide/scan-monitor/finetune-configuration-settings.adoc
  code-security/admin_guide/scan-monitor/finetune-configuration-settings/code-security-licensing-configuration.adoc
  code-security/admin_guide/scan-monitor/finetune-configuration-settings/finetune-configuration-settings.adoc
  code-security/admin_guide/scan-monitor/monitor-fix-issues-in-scan.adoc
Labels: tested

#898 [Compute AG]: Fix xref
  compute/admin_guide/vulnerability_management/registry_scanning/scan_acr.adoc
Labels: docs, tested, compute-AG

#907 image and inline link fix
  cspm/rn/prisma-cloud-release-information/features-introduced-in-2023/features-introduced-in-february-2023.adoc
Labels: tested, cspm rn

#905 RLP-90184 update
  cspm/rn/prisma-cloud-release-information/known-issues.adoc
Labels: cspm rn

#904 RQL guide update RLP-92082
  cspm/rql-reference/rql-reference/iam-query/iam-query-attributes.adoc
  cspm/rql-reference/rql-reference/iam-query/iam-query-examples.adoc
Labels: tested, cspm rql

#903 [CodeSec AG] Set Up Transporter (RLP-83785)
  code-security/admin_guide/_graphics/transporter-1.png
  code-security/admin_guide/_graphics/transporter-10.png
  code-security/admin_guide/_graphics/transporter-11.png
  code-security/admin_guide/_graphics/transporter-12.png
  code-security/admin_guide/_graphics/transporter-13.png
  code-security/admin_guide/_graphics/transporter-14.png
  code-security/admin_guide/_graphics/transporter-15.png
  code-security/admin_guide/_graphics/transporter-16.png
  code-security/admin_guide/_graphics/transporter-17.png
  code-security/admin_guide/_graphics/transporter-18.png
  code-security/admin_guide/_graphics/transporter-19.png
  code-security/admin_guide/_graphics/transporter-2.png
  code-security/admin_guide/_graphics/transporter-20.png
  code-security/admin_guide/_graphics/transporter-21.png
  code-security/admin_guide/_graphics/transporter-3.png
  code-security/admin_guide/_graphics/transporter-4.png
  code-security/admin_guide/_graphics/transporter-5.png
  code-security/admin_guide/_graphics/transporter-6.png
  code-security/admin_guide/_graphics/transporter-7.png
  code-security/admin_guide/_graphics/transporter-8.png
  code-security/admin_guide/_graphics/transporter-9.png
  code-security/admin_guide/_graphics/transporter.png
  code-security/admin_guide/book.yml
  code-security/admin_guide/get-started/setup-network-tunnel.adoc
Labels: tested

#869 [Compute AG: CWP39352]: Update info on CVE statistics
  compute/admin_guide/vulnerability_management/vuln_explorer.adoc
Labels: docs, tested, compute-AG

#871 [Compute AG: CWP-45144]: Automatically extract entryPoint info update
  compute/admin_guide/install/install_defender/install_app_embedded_defender_fargate.adoc
Labels: docs, tested, compute-AG

#873 [Compute AG: PCSUP-13847]: Add CRI-O images scan exception
  compute/admin_guide/book_compute_edition.yml
  compute/admin_guide/book_prisma_cloud.yml
  compute/admin_guide/vulnerability_management/vuln_management_rules.adoc
Labels: docs, tested, compute-AG

#876 [Compute AG: CWP-42005]: Info on refresh button for deployment status
  compute/admin_guide/waas/deploy_waas/deployment_vpc_mirroring.adoc
Labels: docs, tested, compute-AG

#878 [Compute AG] Permissions and roles for CWP-45450
  compute/admin_guide/authentication/prisma_cloud_user_roles.adoc
Labels: compute-AG, ready-to-be-merged

#908 moved note to faq
  cspm/rql-reference/rql-reference/config-query/config-query-attributes.adoc
  cspm/rql-reference/rql-reference/rql-faqs.adoc
Labels: tested, cspm rql

#916 [CodeSec AG] Update to custom secrets
  code-security/admin_guide/_graphics/code-editor-7.png
  code-security/admin_guide/scan-monitor/custom-build-policies/code-editor.adoc
  code-security/admin_guide/scan-monitor/custom-build-policies/custom-build-policies.adoc
Labels: tested

#915 [CodeSec RN] 23.2.1-Update image and typo fix in Custom Secrets
  cspm/rn/_graphics/codesec-rn-feb-23-custom-secrets.png
  cspm/rn/prisma-cloud-code-security-release-information/features-introduced-in-code-security-2023/features-introduced-in-code-security-february-2023.adoc
Labels: tested

#921 [CodeSec AG] Fix for syntax in Transporter
  code-security/admin_guide/get-started/setup-network-tunnel.adoc
Labels: tested

#889 [Compute RN][Kepler Update 6] Add Release Notes
  compute/rn/book.yml
  compute/rn/book_point_release.yml
  compute/rn/release-information/release-notes-22-06-update6.adoc
Labels: do-not-merge, docs, compute-rn, compute-AG

#863 [Compute RN][Lagrange Update 2] Add initial RN draft
  compute/rn/_graphics/prevent-crypto-miners.png
  compute/rn/_graphics/waas-api-discovery-api-change-history.png
  compute/rn/book.yml
  compute/rn/book_point_release.yml
  compute/rn/release-information/known-issues-22-12.adoc
  compute/rn/release-information/release-notes-22-12-update2.adoc
Labels: docs, tested, compute-rn

#891 [CSPM/Platform RN ][Compute Updates for Lagrange Update 2][PCEE]
  cspm/rn/_graphics/prevent-crypto-miners.png
  cspm/rn/_graphics/waas-api-discovery-api-change-history.png
  cspm/rn/book.yml
  cspm/rn/prisma-cloud-compute-release-information/features-introduced-in-compute-february-2023.adoc
  cspm/rn/prisma-cloud-compute-release-information/features-introduced-in-compute-january-2023.adoc
  cspm/rn/prisma-cloud-compute-release-information/prisma-cloud-compute-known-issues.adoc
  cspm/rn/prisma-cloud-compute-release-information/prisma-cloud-compute-release-information.adoc
Labels: docs, compute-rn, compute-AG

#886 [Compute RN]: Update known issues for LagrangeUpdate2
  compute/rn/release-information/known-issues-22-12.adoc
Labels: docs, compute-rn

#919 [Compute AG][Lagrange Update 2] Fix Jenkins Freestyle example
  compute/admin_guide/continuous_integration/jenkins_freestyle_project.adoc
Labels: docs, tested, compute-AG

#913 [Compute AG: Jenkins-Plugin]: Restructure page + CWP-45329
  compute/admin_guide/continuous_integration/jenkins_plugin.adoc
Labels: docs, compute-AG

#884 [Compute AG] Lagrange Update 2 System Requirements
  compute/admin_guide/install/system_requirements.adoc
Labels: docs, tested, compute-AG

#880 [Compute AG: CWP-44743]: Add app-embedded events exception note
  compute/admin_guide/_graphics/cwp-44743-app-embedded-add-exception.png
  compute/admin_guide/waas/waas_analytics.adoc
Labels: docs, tested, compute-AG

#877 [Compute AG: CWP-42648]: API history logs update
  compute/admin_guide/_graphics/waas-api-discovery-api-change-history.png
  compute/admin_guide/_graphics/waas-api-discovery-sidecar1.png
  compute/admin_guide/waas/waas_api_discovery.adoc
Labels: docs, tested, compute-AG

#855 [Compute AG]: Add a note on Backported version of python by Amazon
  compute/admin_guide/book_compute_edition.yml
  compute/admin_guide/vulnerability_management/detect_vulns_unpackaged_software.adoc
  compute/admin_guide/vulnerability_management/prisma_cloud_vulnerability_feed.adoc
Labels: tested, compute-AG, ready-to-be-merged

#853 [Compute AG: WAAS]: Improve fragments conditional statements
  compute/admin_guide/waas/deploy_waas/deployment_app_embedded.adoc
  compute/admin_guide/waas/deploy_waas/deployment_containers.adoc
  compute/admin_guide/waas/deploy_waas/deployment_hosts.adoc
  compute/admin_guide/waas/deploy_waas/deployment_out_of_band.adoc
  compute/admin_guide/waas/deploy_waas/fragments/add-app-policy.adoc
Labels: tested, compute-AG, ready-to-be-merged

#926 [Compute & CSPM RN]: Lagrange Update 2 updates
  compute/rn/_graphics/cwp-45194-rn.png
  compute/rn/release-information/known-issues-22-12.adoc
  compute/rn/release-information/release-notes-22-12-update2.adoc
  cspm/rn/prisma-cloud-compute-release-information/features-introduced-in-compute-february-2023.adoc
  cspm/rn/prisma-cloud-compute-release-information/prisma-cloud-compute-known-issues.adoc
Labels: docs, tested, compute-rn

#924 [Compute RN] Fix typo Rocket->Rocky
  compute/rn/release-information/release-notes-22-12-update2.adoc
  cspm/rn/prisma-cloud-compute-release-information/features-introduced-in-compute-february-2023.adoc
Labels: docs, compute-rn, ready-to-be-merged

#936 [Compute AG - CWP-40557]: Add note for ACR credentials
  compute/admin_guide/vulnerability_management/registry_scanning/scan_acr.adoc
Labels: tested, compute-AG, ready-to-be-merged

#923 [Compute AG: WAAS]: Minor feedback editions
  compute/admin_guide/waas/deploy_waas/deployment_out_of_band.adoc
  compute/admin_guide/waas/waas_api_discovery.adoc
Labels: compute-AG

#935 [Compute RN]: Add known issue for CWP-44683 + AG update
  compute/admin_guide/waas/waas_api_discovery.adoc
  compute/rn/release-information/known-issues-22-12.adoc
Labels: compute-rn, compute-AG

#920 [CSPM AG] 23.2.2 updates
  cspm/admin-guide/_graphics/add-alert-trusted-ips-1.png
  cspm/admin-guide/_graphics/add-domain-trusted-list-dns-1-1.png
  cspm/admin-guide/_graphics/add-domain-trusted-list-dns-2-1.png
  cspm/admin-guide/_graphics/add-login-trusted-ips-1.png
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-aws-account/add-aws-cloud-account-to-prisma-cloud.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-aws-account/add-aws-organization-to-prisma-cloud.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-aws-account/aws-apis-ingested-by-prisma-cloud.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-aws-account/configure-vulnerability-findings.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-aws-account/enable-flow-logs-for-amazon-s3.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-aws-account/ingest-audit-logs-using-eventbridge.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-gcp-account/enable-flow-logs-for-gcp-organization.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-gcp-account/enable-flow-logs-for-gcp-projects.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-gcp-account/set-up-gcp-account-for-prisma-cloud.adoc
  cspm/admin-guide/manage-prisma-cloud-alerts/suppress-alerts-for-prisma-cloud-anomaly-policies.adoc
  cspm/admin-guide/manage-prisma-cloud-alerts/trusted-ip-addresses-on-prisma-cloud.adoc
  cspm/admin-guide/prisma-cloud-compliance/compliance-dashboard.adoc
  cspm/admin-guide/prisma-cloud-dashboards/asset-inventory.adoc
  cspm/admin-guide/prisma-cloud-policies/anomaly-policies.adoc
Labels: do-not-merge

#948 [CodeSec AG] Update to Enforcement [RLP-93680]
  code-security/admin_guide/_graphics/enfor-10.png
  code-security/admin_guide/_graphics/enfor-11.png
  code-security/admin_guide/_graphics/enfor-12.png
  code-security/admin_guide/_graphics/enfor-21.png
  code-security/admin_guide/_graphics/enfor-22.png
  code-security/admin_guide/_graphics/enfor-3.png
  code-security/admin_guide/_graphics/enfor-4.png
  code-security/admin_guide/_graphics/enfor-5.png
  code-security/admin_guide/_graphics/enfor-6.png
  code-security/admin_guide/_graphics/enfor-7.png
  code-security/admin_guide/_graphics/enfor-8.png
  code-security/admin_guide/scan-monitor/development-pipelines/enforcement.adoc
Labels: tested

#954 Update supported.cfg
  api/supported.cfg
Labels: docs

#951 [CSPM RN] - Removed API ingestions from LA
  cspm/rn/prisma-cloud-release-information/look-ahead-planned-updates-prisma-cloud.adoc
Labels: cspm rn, ready-to-be-merged
