Repository PaloAltoNetworks/prisma-cloud-docs, pull requests merged in 2023-04, with the labels that each got.

#1054 [Compute AG 22-12]:Not a known issue + remove duplicate
  compute/admin_guide/agentless-scanning/onboard-accounts/onboard-gcp.adoc
  compute/rn/release-information/known-issues-22-12.adoc
  cspm/admin-guide/manage-prisma-cloud-administrators/create-account-groups.adoc
  cspm/rn/prisma-cloud-release-information/look-ahead-planned-updates-prisma-cloud.adoc
Labels: compute-AG, ready-to-be-merged

#1075 [CodeSec AG] Update to Custom Permission Group [RLP-93437]
  code-security/admin_guide/get-started/setup-administrator-access.adoc
Labels: tested

#1059 [CSPM AG] - RLP-86137: Oci-one-policy feature updates
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-oci-account/add-oci-tenant-to-prisma-cloud.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-oci-account/oci-apis-ingested-by-prisma-cloud.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-oci-account/permissions-required-for-oci-tenant-on-prisma-cloud.adoc
Labels: tested, cspm ag, ready-to-be-merged

#1056 [CodeSec AG]Update default Enforcement parameters [RLP-95079]
  code-security/admin_guide/scan-monitor/development-pipelines/enforcement.adoc
Labels: tested

#1051 [CSPM RN] Updates for 23.4.1 - April 7th Publish
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/cloud-service-provider-regions-on-prisma-cloud.adoc
  cspm/admin-guide/prisma-cloud-compliance/compliance-dashboard.adoc
  cspm/rn/_graphics/aws-hyd-region.png
  cspm/rn/_graphics/codesec-rn-23.4.1-2.png
  cspm/rn/_graphics/codesec-rn-23.4.1.png
  cspm/rn/book.yml
  cspm/rn/prisma-cloud-code-security-release-information/features-introduced-in-code-security-2023/features-introduced-in-code-security-2023.adoc
  cspm/rn/prisma-cloud-code-security-release-information/features-introduced-in-code-security-2023/features-introduced-in-code-security-april-2023.adoc
  cspm/rn/prisma-cloud-code-security-release-information/features-introduced-in-code-security-2023/features-introduced-in-code-security-march-2023.adoc
  cspm/rn/prisma-cloud-code-security-release-information/look-ahead-planned-updates-prisma-cloud-code-security.adoc
  cspm/rn/prisma-cloud-release-information/features-introduced-in-2023/features-introduced-in-2023.adoc
  cspm/rn/prisma-cloud-release-information/features-introduced-in-2023/features-introduced-in-april-2023.adoc
  cspm/rn/prisma-cloud-release-information/known-issues.adoc
  cspm/rn/prisma-cloud-release-information/look-ahead-planned-updates-prisma-cloud.adoc
Labels: tested, cspm rn, ready-to-be-merged

#1077 Update api.doc for Usabilia
  compute/admin_guide/api/api.adoc
Labels: bug, compute-api, compute-AG

#1003 [Maxwell] [Compute AG: CWP-34308]: Add a note on scan results purged
  compute/admin_guide/vulnerability_management/vm_image_scanning.adoc
Labels: compute-AG, ready-to-be-merged

#1014 [Compute AG PCCE]: Replace old CNNF page with CNNS
  compute/admin_guide/_graphics/radar_cloud_pivot.png
  compute/admin_guide/_graphics/radar_connections.png
  compute/admin_guide/_graphics/radar_host_pivot.png
  compute/admin_guide/_graphics/radar_overlay.png
  compute/admin_guide/book_compute_edition.yml
  compute/admin_guide/continuous_integration/jenkins_plugin.adoc
  compute/admin_guide/firewalls/cnns_saas.adoc
  compute/admin_guide/technology_overviews/defender_architecture.adoc
  compute/admin_guide/technology_overviews/radar.adoc
  compute/admin_guide/welcome/getting_started.adoc
  cspm/admin-guide/get-started-with-prisma-cloud/prisma-cloud-first-look.adoc
Labels: tested, compute-AG, ready-to-be-merged

#1019 [Compute AG]: Update info - VM image scanning for all clouds
  compute/admin_guide/_graphics/vm_image_scanning_report.png
  compute/admin_guide/compliance/vm_image_scanning.adoc
  compute/admin_guide/vulnerability_management/vm_image_scanning.adoc
Labels: tested, compute-AG, ready-to-be-merged

#1020 [Compute AG]: Fix missing image syntax
  cspm/admin-guide/manage-prisma-cloud-administrators/create-account-groups.adoc
Labels: tested, compute-AG, ready-to-be-merged

#1028 [Compute AG: CWP-43612]: Host runtime custom rules
  compute/admin_guide/runtime_defense/custom_runtime_rules.adoc
Labels: docs, tested, compute-AG, ready-to-be-merged

#1048 [Compute AG: CWP-44858]: Update custom reCAPTCHA information
  compute/admin_guide/_graphics/waas_active_bot_detections.png
  compute/admin_guide/waas/waas_bot_protection.adoc
  compute/rn/_graphics/CWP-44858-RN.png
Labels: do-not-merge, tested, compute-AG, maxwell

#1053 [Compute AG: CWP-39820]:Add support for CBL 2.0 Mariner
  compute/admin_guide/vulnerability_management/vm_image_scanning.adoc
Labels: compute-AG, ready-to-be-merged, maxwell

#1055 [Compute AG:CWP-47177]: Update OpenShift troubleshooting steps
  compute/admin_guide/vulnerability_management/registry_scanning/configure_registry_scanning.adoc
  compute/admin_guide/vulnerability_management/registry_scanning/scan_artifactory.adoc
  compute/admin_guide/vulnerability_management/registry_scanning/scan_openshift.adoc
Labels: docs, tested, compute-AG

#1079 [CSPM RN] Update look-ahead-planned-updates-prisma-cloud-compute.adoc
  cspm/rn/prisma-cloud-compute-release-information/look-ahead-planned-updates-prisma-cloud-compute.adoc
Labels: docs, tested, compute-rn, ready-to-be-merged, maxwell

#1050 [Compute AG][CWP-44166] Note that NFS and symbolic links aren't supported
  compute/admin_guide/deployment_patterns/performance_planning.adoc
Labels: bug, do-not-merge, docs, tested, compute-AG, ready-to-be-merged, maxwell

#1098 [CodeSec Policy Ref] Fix dita errors
  code-security/policy-reference/build-integrity-policies/github-actions-policies/github-actions-policies.adoc
  code-security/policy-reference/kubernetes-policies/kubernetes-policy-index/kubernetes-policy-index.adoc
Labels: tested

#1096 Correction-API-Path
  api/descriptions/audits/admission_download_get.md
  api/descriptions/audits/admission_get.md
Labels: bug, compute-api, docs

#1101 Correction-for-PR-1096
  api/descriptions/audits/admission_get.md
Labels: bug, compute-api, docs

#1110 [CSPM/Compute Maxwell RN]: Add blurbs
  cspm/rn/_graphics/collection-sidecar-view.png
  cspm/rn/_graphics/rn-cwp-39490.png
  cspm/rn/_graphics/rn-cwp-39494.png
  cspm/rn/_graphics/rn-cwp-42899.png
  cspm/rn/_graphics/rn-cwp-44858.png
  cspm/rn/_graphics/rn-cwp-45259.png
  cspm/rn/book.yml
  cspm/rn/prisma-cloud-compute-release-information/features-introduced-in-compute-april-2023.adoc
  cspm/rn/prisma-cloud-compute-release-information/look-ahead-planned-updates-prisma-cloud-compute.adoc
  cspm/rn/prisma-cloud-compute-release-information/prisma-cloud-compute-known-issues.adoc
  cspm/rn/prisma-cloud-compute-release-information/prisma-cloud-compute-release-information.adoc
Labels: tested, maxwell

#1091 [CSPM RN] 23.4.2 RN updates - April 21st Publish
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/cloud-service-provider-regions-on-prisma-cloud.adoc
  cspm/rn/_graphics/aws-add-account-global-org-rn.png
  cspm/rn/_graphics/codesec-rn-23.4.2.png
  cspm/rn/_graphics/soaz-rn.gif
  cspm/rn/prisma-cloud-code-security-release-information/features-introduced-in-code-security-2023/features-introduced-in-code-security-april-2023.adoc
  cspm/rn/prisma-cloud-code-security-release-information/look-ahead-planned-updates-prisma-cloud-code-security.adoc
  cspm/rn/prisma-cloud-release-information/features-introduced-in-2023/features-introduced-in-april-2023.adoc
  cspm/rn/prisma-cloud-release-information/known-issues.adoc
  cspm/rn/prisma-cloud-release-information/look-ahead-planned-updates-prisma-cloud.adoc
  cspm/rql-reference/rql-reference/config-query/config-query-attributes.adoc
Labels: tested, cspm rn

#1105 [Compute AG: CWP-39496]: Collections React UI updates
  compute/admin_guide/_graphics/collection-sidecar-view.png
  compute/admin_guide/_graphics/collections_usages.png
  compute/admin_guide/configure/collections.adoc
Labels: tested, compute-AG, maxwell

#1108 [CodeSec Policy Ref] Update severity for secrets [RLP-98247]
  code-security/policy-reference/book.yml
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-1.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-13.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-14.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-17.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-2.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-23.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-26.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-27.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-29.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-3.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-34.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-4.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-43.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-44.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-45.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-47.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-61.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-7.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-73.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-79.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/secrets-policy-index.adoc
Labels: tested

#1095 [Compute AG: CWP-43043]: priviliged info updates
  compute/admin_guide/tools/twistcli_scan_images.adoc
Labels: tested, compute-AG, maxwell

#1089 [Compute AG: CWP-31019]: Add exclude regex expression
  compute/admin_guide/vulnerability_management/code_repo_scanning.adoc
Labels: compute-AG, ready-to-be-merged, maxwell

#1087 [Compute AG: CWP-33186]: Clarify image scanned only when deployed
  compute/admin_guide/vulnerability_management/scan_reports.adoc
Labels: ready-to-be-merged, maxwell

#1092 [Compute AG: CWP-22532]: Distinguish UI settings for PCCE and PCEE
  compute/admin_guide/install/deploy-defender/uninstall-defender.adoc
Labels: compute-AG, maxwell

#1082 [Compute AG: CWP-39607]: Add the missing link + adjust column width
  compute/admin_guide/runtime_defense/runtime_audits.adoc
Labels: tested, ready-to-be-merged, maxwell

#1063 [Compute AG: CWP-44683]: Rearrange the DB retention policy section
  compute/admin_guide/waas/waas_api_discovery.adoc
Labels: docs, compute-AG, ready-to-be-merged, maxwell

#1060 [Compute AG: CWP-35759]: Update info on scan results purged
  compute/admin_guide/compliance/custom_compliance_checks.adoc
Labels: docs, tested, compute-AG, maxwell

#1043 [Compute AG: CWP 42407]: Host runtime protection skipped rules
  compute/admin_guide/runtime_defense/runtime_defense_app_embedded.adoc
  compute/admin_guide/runtime_defense/runtime_defense_containers.adoc
  compute/admin_guide/runtime_defense/runtime_defense_hosts.adoc
Labels: docs, compute-AG, ready-to-be-merged

#977 [Maxwell - Compute AG: CWP-45386]: Update AWS CloudFormation Autoscaling template
  compute/admin_guide/waas/deploy_waas/deployment_vpc_mirroring.adoc
Labels: tested, compute-AG, ready-to-be-merged

#1076 [CodeSec AG] Update with multiple integrations [RLP-98516]
  code-security/admin_guide/_graphics/tf-cloud-10.png
  code-security/admin_guide/_graphics/tf-cloud-11.png
  code-security/admin_guide/_graphics/tfe-runtasks-6.png
  code-security/admin_guide/_graphics/tfe-runtasks-7.png
  code-security/admin_guide/get-started/connect-your-repositories/add-terraform-enterprise-run-tasks.adoc
  code-security/admin_guide/get-started/connect-your-repositories/add-terraform-run-tasks.adoc
Labels: tested

#1099 [CodeSec AG] Update to GRBAC [RLP-99394]
  code-security/admin_guide/get-started/setup-administrator-access.adoc
Labels: tested

#1115 [Compute AG] Fixes to ensure build.
  compute/admin_guide/runtime_defense/runtime_defense_hosts.adoc
Labels: tested, compute-AG, ready-to-be-merged, maxwell

#1104 [Compute AG: CWP-42671]: Update Auto Scaling UI info
  compute/admin_guide/_graphics/create-vpc-configuration.png
  compute/admin_guide/waas/deploy_waas/deployment_vpc_mirroring.adoc
Labels: tested, compute-AG, maxwell

#1084 [Compute AG: CWP-22074]: Add not suppported for TAS defender
  compute/admin_guide/compliance/custom_compliance_checks.adoc
Labels: tested, ready-to-be-merged, maxwell

#1024 [PCCE Maxwell RN]: Initial draft
  compute/admin_guide/waas/waas_api_discovery.adoc
  compute/rn/_graphics/collection-sidecar-view.png
  compute/rn/_graphics/rn-cwp-39490.png
  compute/rn/_graphics/rn-cwp-39494.png
  compute/rn/_graphics/rn-cwp-42899.png
  compute/rn/_graphics/rn-cwp-44842.png
  compute/rn/_graphics/rn-cwp-44858.png
  compute/rn/_graphics/rn-cwp-45259.png
  compute/rn/book.yml
  compute/rn/book_point_release.yml
  compute/rn/release-information/known-issues-30-00.adoc
  compute/rn/release-information/release-notes-30-00.adoc
Labels: docs, tested, compute-rn, ready-to-be-merged, maxwell

#1112 [Compute AG] Update System Requirements Maxwell
  compute/admin_guide/install/system_requirements.adoc
Labels: docs, tested, compute-AG, ready-to-be-merged, maxwell

#1118 [Compute Maxwell]: Add limitation
  compute/admin_guide/runtime_defense/runtime_defense_containers.adoc
Labels: tested, ready-to-be-merged, maxwell

#1116 [Maxwell AG]: Update decommission UI path
  compute/admin_guide/install/deploy-defender/uninstall-defender.adoc
  compute/admin_guide/upgrade/upgrade_onebox.adoc
Labels: docs, tested, ready-to-be-merged, maxwell

#1142 Update info_get.md
  api/descriptions/hosts/info_get.md
Labels: bug, compute-api, docs
