Repository PaloAltoNetworks/prisma-cloud-docs, pull requests merged in 2023-05, with the labels that each got.

#1145 [Compute AG]: Serverless scan exception with IAM policy
  compute/admin_guide/vulnerability_management/serverless_functions.adoc
Labels: docs, tested, compute-AG, ready-to-be-merged

#1143 [Compute AG: CWP-39947] - Update the note on alerts frequency
  compute/admin_guide/alerts/alert_mechanism.adoc
Labels: docs, tested, compute-AG, ready-to-be-merged

#1140 [Compute AG]: Fix missing image deploy a single container defender
  compute/admin_guide/install/deploy-defender/container/single-defender-cli.adoc
Labels: tested, compute-AG, ready-to-be-merged

#1135 Update release-notes-30-00.adoc
  compute/rn/release-information/release-notes-30-00.adoc
Labels: docs, compute-rn

#1130 Secrets update April 2023
  code-security/policy-reference/book.yml
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-77.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-78.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-80.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-81.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-82.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-83.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-84.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-85.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/secrets-policy-index.adoc
Labels: tested, ready-to-be-merged

#1147 Add clarifications for how Code Security notifications work
  code-security/admin_guide/scan-monitor/finetune-configuration-settings/finetune-configuration-settings.adoc
Labels: tested

#1151 [Compute AG: CWP-47718]: Add info on GitLab admin credentials
  compute/admin_guide/vulnerability_management/registry_scanning/configure_registry_scanning.adoc
Labels: docs, tested, compute-AG

#1154 [Compute AG]Fix broken internal links in AKS console deployment.
  compute/admin_guide/install/deploy-console/console-on-aks.adoc
Labels: bug, docs, tested, compute-AG, ready-to-be-merged

#1160 23.5.1 CSPM AG & RQL updates
  cspm/admin-guide/_graphics/auto-enable-default-policies.png
  cspm/admin-guide/_graphics/config-from-network-where-gcp-1.png
  cspm/admin-guide/_graphics/report-business-unit-report.png
  cspm/admin-guide/_graphics/report-cloud-security-assessment-generate.png
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-aws/onboard-aws-org.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-gcp/enable-flow-logs-for-gcp-organization.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-gcp/gcp-apis-ingested-by-prisma-cloud.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-gcp/onboard-gcp.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-gcp/prerequisites-to-onboard-gcp.adoc
  cspm/admin-guide/manage-prisma-cloud-administrators/define-prisma-cloud-enterprise-settings.adoc
  cspm/admin-guide/manage-prisma-cloud-alerts/generate-reports-on-prisma-cloud-alerts.adoc
  cspm/admin-guide/prisma-cloud-network-security/investigate-network-exposure-on-prisma-cloud.adoc
  cspm/admin-guide/prisma-cloud-network-security/prisma-cloud-network-security.adoc
  cspm/rn/_graphics/asset-explorer.png
  cspm/rn/_graphics/config-from-network-where-gcp-1.png
  cspm/rql-reference/rql-reference/network-query/network-query.adoc
Labels: ready-to-be-merged

#1166 missing images + broken link + so-az note fix
  cspm/admin-guide/_graphics/so-az-authorize-permissions.png
  cspm/admin-guide/_graphics/so-az-automate-subscription.png
  cspm/admin-guide/_graphics/so-az-automate-tenant.png
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-azure-account/update-azure-application-permissions.adoc
  cspm/admin-guide/prisma-cloud-iam-security/integrate-prisma-cloud-with-idp-services.adoc
Labels: tested, cspm ag, ready-to-be-merged

#1161 [CodeSec RN] For May 2023 5.1
  cspm/rn/prisma-cloud-code-security-release-information/features-introduced-in-code-security-2023/features-introduced-in-code-security-april-2023.adoc
  cspm/rn/prisma-cloud-code-security-release-information/look-ahead-planned-updates-prisma-cloud-code-security.adoc
Labels: ready-to-be-merged

#1162 [Compute AG]: CWP-44683 Rearrange the DB retention policy section
  compute/admin_guide/waas/waas_api_discovery.adoc
  compute/admin_guide/waas/waas_bot_protection.adoc
Labels: docs, compute-AG, ready-to-be-merged, maxwell

#1136 [Compute AG: CWP-39492]: Update UI path for VM tags
  compute/admin_guide/alerts/email.adoc
  compute/admin_guide/configure/collections.adoc
Labels: compute-AG, ready-to-be-merged, maxwell

#1153 CWP-47798-API-Rate-Limit
  api/descriptions/containers/get.md
  api/descriptions/hosts/get.md
  api/descriptions/images/get.md
  api/descriptions/registry/get.md
  api/descriptions/scans/get.md
  api/descriptions/serverless/get.md
  api/descriptions/vms/get.md
Labels: bug, compute-api, docs

#1186 CWP-48056: Placeholder topics and Topic Map Update
  api/_topic_map.yml
  api/descriptions/feeds/custom_vuln_get.md
  api/descriptions/feeds/custom_vuln_put.md
  api/descriptions/feeds/malware_get.md
  api/descriptions/feeds/malware_put.md
  api/descriptions/settings/certificates_post.md
  api/descriptions/settings/certs_get.md
  api/descriptions/settings/certs_post.md
  api/descriptions/settings/console-certificate_post.md
  api/descriptions/settings/custom-labels_post.md
  api/descriptions/settings/intelligence_get.md
  api/descriptions/settings/intelligence_post.md
  api/descriptions/settings/ldap_get.md
  api/descriptions/settings/ldap_post.md
  api/descriptions/settings/license_get.md
  api/descriptions/settings/license_post.md
  api/descriptions/settings/logging_get.md
  api/descriptions/settings/logging_post.md
  api/descriptions/settings/logon_get.md
  api/descriptions/settings/logon_post.md
  api/descriptions/settings/oauth_get.md
  api/descriptions/settings/oauth_post.md
  api/descriptions/settings/oidc_get.md
  api/descriptions/settings/oidc_post.md
  api/descriptions/settings/proxy_get.md
  api/descriptions/settings/proxy_post.md
  api/descriptions/settings/saml_get.md
  api/descriptions/settings/saml_post.md
  api/descriptions/settings/scan_get.md
  api/descriptions/settings/scan_post.md
  api/descriptions/settings/telemetry_get.md
  api/descriptions/settings/telemetry_post.md
  api/descriptions/settings/trusted_certificate_post.md
  api/descriptions/settings/trusted_certificates_post.md
  api/descriptions/tas-droplets/download_get.md
  api/descriptions/tas-droplets/get.md
  api/descriptions/tas-droplets/progress_get.md
  api/descriptions/tas-droplets/scan_post.md
  api/descriptions/tas-droplets/stop_post.md
  api/descriptions/trust/data_get.md
  api/descriptions/trust/data_put.md
Labels: compute-api, docs

#1183 [Compute AG: PCSUP-11391]: Compliance policies
  compute/admin_guide/_graphics/compliance-ci-policy.png
  compute/admin_guide/_graphics/vulnerabilities-ci-policy-functions.png
  compute/admin_guide/_graphics/vulnerabilities-ci-policy-image.png
  compute/admin_guide/continuous_integration/set_policy_ci_plugins.adoc
Labels: tested, compute-AG, ready-to-be-merged

#1181 [Compute AG: CWP-46795]: Remove support TAS Windows support info
  compute/admin_guide/tools/twistcli.adoc
Labels: tested, compute-AG, ready-to-be-merged

#1179 [Compute AG] Add Agentless Scanning concept
  compute/admin_guide/_graphics/networking-infrastructure.png
  compute/admin_guide/agentless-scanning/agentless-scanning-modes.adoc
  compute/admin_guide/agentless-scanning/agentless-scanning.adoc
  compute/admin_guide/agentless-scanning/onboard-accounts/frag_start-agentless-scan.adoc
  compute/admin_guide/book_compute_edition.yml
  compute/admin_guide/book_prisma_cloud.yml
Labels: docs, tested, compute-AG, ready-to-be-merged

#1171 [CodeSec] Change in CSPM AG [RLP-101082]
  cspm/admin-guide/get-started-with-prisma-cloud/enable-access-prisma-cloud-console.adoc
Labels: tested

#1144 [Compute AG - Vulnerability Management]: Registry scanning improvements
  compute/admin_guide/vulnerability_management/registry_scanning/nexus-registry.adoc
  compute/admin_guide/vulnerability_management/registry_scanning/scan_acr.adoc
  compute/admin_guide/vulnerability_management/registry_scanning/scan_alibaba_container_registry.adoc
  compute/admin_guide/vulnerability_management/registry_scanning/scan_artifactory.adoc
  compute/admin_guide/vulnerability_management/registry_scanning/scan_docker_registry_v2.adoc
  compute/admin_guide/vulnerability_management/registry_scanning/scan_ecr.adoc
  compute/admin_guide/vulnerability_management/registry_scanning/scan_gcr.adoc
  compute/admin_guide/vulnerability_management/registry_scanning/scan_google_artifact_registry.adoc
  compute/admin_guide/vulnerability_management/registry_scanning/scan_harbor.adoc
  compute/admin_guide/vulnerability_management/registry_scanning/scan_ibm_cloud_container_registry.adoc
  compute/admin_guide/vulnerability_management/registry_scanning/scan_openshift.adoc
  compute/admin_guide/vulnerability_management/registry_scanning/webhooks.adoc
  compute/admin_guide/vulnerability_management/search_cves.adoc
Labels: docs, tested, compute-AG

#1129 [Compute AG: CWP-35608]:Update scan compliance scan interval info
  compute/admin_guide/alerts/alert_mechanism.adoc
Labels: tested, compute-AG, ready-to-be-merged, maxwell

#1170 [Compute CWP-47406]: Intrinsic functions not supported in CloudFormation
  compute/admin_guide/install/deploy-defender/app-embedded/install_app_embedded_defender_fargate.adoc
Labels: docs, compute-AG

#1169 Update add-private-registries.adoc
  code-security/admin_guide/get-started/connect-your-repositories/add-private-registries.adoc
Labels: tested, ready-to-be-merged

#1184 [CSPM Compute Look Ahead]: Maxwell Update 1
  cspm/rn/_graphics/host-vulnerabilites-scan-result.png
  cspm/rn/prisma-cloud-compute-release-information/look-ahead-planned-updates-prisma-cloud-compute.adoc
  cspm/rn/prisma-cloud-compute-release-information/prisma-cloud-compute-release-information.adoc
Labels: do-not-merge, maxwell-update-1

#1176 [Compute RN] Update release-notes-30-00.adoc for Cloud Discovery changes - CWP-47900
  compute/rn/release-information/release-notes-30-00.adoc
  cspm/rn/prisma-cloud-compute-release-information/features-introduced-in-compute-april-2023.adoc
Labels: bug, do-not-merge, docs, compute-rn

#1195 [Compute AG - Email Alerts]: Fix image
  compute/admin_guide/_graphics/email-alert-failed-handshake.png
  compute/admin_guide/alerts/email.adoc
Labels: tested, compute-AG, ready-to-be-merged

#1205 CWP-48056: Add Maxwell Update 1 APIs
  api/descriptions/feeds/custom_vuln_get.md
  api/descriptions/feeds/custom_vuln_put.md
  api/descriptions/feeds/malware_get.md
  api/descriptions/feeds/malware_put.md
  api/descriptions/settings/certificates_post.md
  api/descriptions/settings/certs_get.md
  api/descriptions/settings/certs_post.md
  api/descriptions/settings/console-certificate_post.md
  api/descriptions/settings/custom-labels_get.md
  api/descriptions/settings/defender_get.md
  api/descriptions/settings/intelligence_get.md
  api/descriptions/settings/intelligence_post.md
  api/descriptions/settings/ldap_get.md
  api/descriptions/settings/ldap_post.md
  api/descriptions/settings/license_get.md
  api/descriptions/settings/license_post.md
  api/descriptions/settings/logging_get.md
  api/descriptions/settings/logging_post.md
  api/descriptions/settings/logon_get.md
  api/descriptions/settings/logon_post.md
  api/descriptions/settings/oauth_get.md
  api/descriptions/settings/oauth_post.md
  api/descriptions/settings/oidc_get.md
  api/descriptions/settings/oidc_post.md
  api/descriptions/settings/proxy_get.md
  api/descriptions/settings/proxy_post.md
  api/descriptions/settings/saml_get.md
  api/descriptions/settings/saml_post.md
  api/descriptions/settings/scan_get.md
  api/descriptions/settings/scan_post.md
  api/descriptions/settings/telemetry_get.md
  api/descriptions/settings/telemetry_post.md
  api/descriptions/settings/trusted_certificate_post.md
  api/descriptions/settings/trusted_certificates_post.md
  api/descriptions/tas-droplets/progress_get.md
  api/descriptions/tas-droplets/scan_post.md
  api/descriptions/tas-droplets/stop_post.md
  api/descriptions/trust/data_get.md
  api/descriptions/trust/data_put.md
  api/supported.cfg
Labels: compute-api, docs, ready-to-be-merged

#952 [CSPM AG] Integration Updates for Splunk, SNow, and MS Teams
  cspm/admin-guide/_graphics/alert-rule-google-cscc.png
  cspm/admin-guide/_graphics/alert-rule-jira.png
  cspm/admin-guide/_graphics/alert-rule-sazure-service-bus.png
  cspm/admin-guide/_graphics/alert-rule-slack.png
  cspm/admin-guide/_graphics/alert-rule-sqs.png
  cspm/admin-guide/_graphics/alert-rules-custom-email-notification.png
  cspm/admin-guide/_graphics/alert-rules-custom-email-review-status.png
  cspm/admin-guide/_graphics/alerts-alert-rules-set-alert-notification.png
  cspm/admin-guide/_graphics/integration-ms-teams.png
  cspm/admin-guide/_graphics/ms-teams-set-alert-rule.png
  cspm/admin-guide/_graphics/msteams-add-integration-in-pc-1.png
  cspm/admin-guide/_graphics/msteams-add-integration-in-pc-2.png
  cspm/admin-guide/_graphics/pagerDuty-alert-rules-notification.png
  cspm/admin-guide/_graphics/servicenow-notification-template-alert-id.png
  cspm/admin-guide/_graphics/servicenow-notification-template-fields.png
  cspm/admin-guide/_graphics/servicenow-notification-template.png
  cspm/admin-guide/_graphics/servicenow-set-alert-rule.png
  cspm/admin-guide/_graphics/snow-notification-review-status.png
  cspm/admin-guide/_graphics/splunk-add-integration-in-pc-2.png
  cspm/admin-guide/_graphics/splunk-add-integration-in-prisma-cloud.png
  cspm/admin-guide/_graphics/splunk-alert-rules-notification.png
  cspm/admin-guide/_graphics/webhook-alert-rules-notification.png
  cspm/admin-guide/book.yml
  cspm/admin-guide/configure-external-integrations-on-prisma-cloud/integrate-prisma-cloud-with-azure-sentinel.adoc
  cspm/admin-guide/configure-external-integrations-on-prisma-cloud/integrate-prisma-cloud-with-microsoft-teams.adoc
  cspm/admin-guide/configure-external-integrations-on-prisma-cloud/integrate-prisma-cloud-with-servicenow.adoc
  cspm/admin-guide/configure-external-integrations-on-prisma-cloud/integrate-prisma-cloud-with-splunk.adoc
  cspm/admin-guide/configure-external-integrations-on-prisma-cloud/integrations-feature-support.adoc
  cspm/admin-guide/configure-external-integrations-on-prisma-cloud/prisma-cloud-integrations.adoc
  cspm/admin-guide/manage-prisma-cloud-alerts/send-prisma-cloud-alert-notifications-to-third-party-tools.adoc
Labels: tested, cspm ag, ready-to-be-merged

#1198 topics updated with right syntax
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-azure-account/authorize-prisma-cloud.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-azure-account/connect-azure-account.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-azure-account/connect-azure-active-directory.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-azure-account/connect-azure-subscription.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-azure-account/connect-azure-tenant.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-azure-account/edit-onboarded-account.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-azure-account/onboard-your-azure-account.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-azure-account/update-azure-application-permissions.adoc
Labels: cspm ag, ready-to-be-merged

#1182 [CSPM AG] - Includes permission updates till 5.2
  cspm/admin-guide/_graphics/ftu-cloud-selection.png
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-gcp/prerequisites-to-onboard-gcp.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-oci-account/add-oci-tenant-to-prisma-cloud.adoc
Labels: tested, cspm ag, ready-to-be-merged

#1196 [CSPM RQL] 23.5.2
  cspm/rql-reference/rql-reference/microsoft-azure-apis-ingested-by-prisma-cloud.adoc
  cspm/rql-reference/rql-reference/network-query/network-query.adoc
Labels: ready-to-be-merged

#1197 [CSPM AG] 23.5.2 updates
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-aws/onboard-aws-account.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-gcp/gcp-apis-ingested-by-prisma-cloud.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-gcp/onboard-gcp.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-gcp/prerequisites-to-onboard-gcp.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-azure-account/authorize-prisma-cloud.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-azure-account/connect-azure-account.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-azure-account/connect-azure-active-directory.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-azure-account/connect-azure-subscription.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-azure-account/connect-azure-tenant.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-azure-account/edit-onboarded-account.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-azure-account/onboard-your-azure-account.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-azure-account/update-azure-application-permissions.adoc
  cspm/admin-guide/prisma-cloud-policies/manage-prisma-cloud-policies.adoc
Labels: ready-to-be-merged

#1213 [CodeSec RN] 23.5.2
  cspm/rn/_graphics/codesec-rn-23.5.2.png
  cspm/rn/book.yml
  cspm/rn/prisma-cloud-code-security-release-information/features-introduced-in-code-security-2023/features-introduced-in-code-security-2023.adoc
  cspm/rn/prisma-cloud-code-security-release-information/features-introduced-in-code-security-2023/features-introduced-in-code-security-may-2023.adoc
  cspm/rn/prisma-cloud-code-security-release-information/look-ahead-planned-updates-prisma-cloud-code-security.adoc
Labels: tested

#1215 [CodeSec AG] Code Security Dashboard [RLP-99728]
  code-security/admin_guide/_graphics/dash-code-ot.png
  code-security/admin_guide/_graphics/dash-cvss-score.png
  code-security/admin_guide/_graphics/dash-iac-misconfig.png
  code-security/admin_guide/_graphics/dash-package-license.png
  code-security/admin_guide/_graphics/dash-policy.png
  code-security/admin_guide/_graphics/dash-pr-ot.png
  code-security/admin_guide/_graphics/dash-top-repo.png
  code-security/admin_guide/_graphics/dash-total-errors.png
  code-security/admin_guide/book.yml
  code-security/admin_guide/get-started/code-security-dashboard.adoc
Labels: tested, ready-to-be-merged

#1216 [CodeSec AG] Update with Projects 2.0 [RLP-102858]
  code-security/admin_guide/_graphics/add-repository.png
  code-security/admin_guide/_graphics/proj-1.png
  code-security/admin_guide/_graphics/proj-10.png
  code-security/admin_guide/_graphics/proj-11.png
  code-security/admin_guide/_graphics/proj-12.png
  code-security/admin_guide/_graphics/proj-13.png
  code-security/admin_guide/_graphics/proj-14.png
  code-security/admin_guide/_graphics/proj-15.png
  code-security/admin_guide/_graphics/proj-16.png
  code-security/admin_guide/_graphics/proj-17.png
  code-security/admin_guide/_graphics/proj-18.png
  code-security/admin_guide/_graphics/proj-19.png
  code-security/admin_guide/_graphics/proj-20.png
  code-security/admin_guide/_graphics/proj-22.png
  code-security/admin_guide/_graphics/proj-24.png
  code-security/admin_guide/_graphics/proj-suppress.png
  code-security/admin_guide/_graphics/proj.png
  code-security/admin_guide/_graphics/suppress.png
  code-security/admin_guide/get-started/connect-your-repositories/add-aws-codebuild.adoc
  code-security/admin_guide/get-started/connect-your-repositories/connect-your-repositories.adoc
  code-security/admin_guide/scan-monitor/monitor-fix-issues-in-scan/create-and-manage-code-category-views.adoc
  code-security/admin_guide/scan-monitor/monitor-fix-issues-in-scan/fix-issues-in-a-scan-result.adoc
  code-security/admin_guide/scan-monitor/monitor-fix-issues-in-scan/monitor-fix-issues-in-scan.adoc
  code-security/admin_guide/scan-monitor/software-composition-analysis/software-composition-analysis.adoc
Labels: tested, ready-to-be-merged

#1199 [Compute AG: CWP-48075]: DB restore issue update
  compute/admin_guide/configure/disaster_recovery.adoc
Labels: compute-AG, ready-to-be-merged

#1188 [Compute AG]: Add a note for CWP-27668
  compute/admin_guide/vulnerability_management/base_images.adoc
Labels: tested, compute-AG, ready-to-be-merged, maxwell-update-1

#1217 [Compute AG] Add Alibaba Cloud to list of supported CSPs
  compute/admin_guide/install/system_requirements.adoc
Labels: docs, tested, compute-AG, ready-to-be-merged, maxwell-update-1

#1192 [Compute AG: CWP-43047]: AWS empty value tags info
  compute/admin_guide/waas/deploy_waas/deployment_vpc_mirroring.adoc
Labels: tested, compute-AG, ready-to-be-merged

#1180 [Compute AG: CWP-46828]: Remove ciphers support for WAAS
  compute/admin_guide/howto/deploy_in_fips_mode.adoc
  compute/admin_guide/technology_overviews/tls_v12_cipher_suites.adoc
  compute/admin_guide/waas/deploy_waas/deployment_vpc_mirroring.adoc
  compute/admin_guide/waas/waas-intro.adoc
  compute/public_sector/disa_stig/STIG_ASD_v4_r11/ASD_v4_r11_CAT2_responses_v20_04_177.csv
Labels: docs, compute-AG, ready-to-be-merged, maxwell-update-1

#1225 [CSPM RN] Post RN updates for PCS 23.5.2
  cspm/rn/prisma-cloud-release-information/look-ahead-planned-updates-prisma-cloud.adoc
Labels: cspm rn, ready-to-be-merged

#1228 [ComputeAG] .NET Core 3.1 Deprecation
  compute/admin_guide/firewalls/cnns_saas.adoc
  compute/admin_guide/install/deploy-defender/serverless/serverless.adoc
Labels: docs, tested, compute-AG, ready-to-be-merged, maxwell-update-1

#1219 [Compute/CSPM Maxwell Update 1] Release Notes
  cspm/rn/book.yml
  cspm/rn/prisma-cloud-compute-release-information/features-introduced-in-compute-may-2023.adoc
  cspm/rn/prisma-cloud-compute-release-information/look-ahead-planned-updates-prisma-cloud-compute.adoc
  cspm/rn/prisma-cloud-compute-release-information/prisma-cloud-compute-known-issues.adoc
  cspm/rn/prisma-cloud-compute-release-information/prisma-cloud-compute-release-information.adoc
Labels: tested, compute-rn

#1194 [Compute Maxwell Update 1 RN]: PCCE
  compute/admin_guide/_graphics/host-vulnerabilites-scan-result.png
  compute/rn/_graphics/host-vulnerabilities-scan-result.png
  compute/rn/book.yml
  compute/rn/book_point_release.yml
  compute/rn/release-information/known-issues-30-00.adoc
  compute/rn/release-information/release-notes-30-01-update1.adoc
  cspm/rn/prisma-cloud-compute-release-information/look-ahead-planned-updates-prisma-cloud-compute.adoc
Labels: compute-AG, maxwell-update-1

#1241 [Compute AG]Implement identified Defender improvements
  compute/admin_guide/install/deploy-defender/defender_types.adoc
  compute/admin_guide/install/deploy-defender/deploy-defender.adoc
  compute/admin_guide/install/deploy-defender/manage-defender.adoc
  compute/admin_guide/install/deploy-defender/orchestrator/install_kubernetes_cri.adoc
Labels: docs, feedback-slack, tested, compute-AG, ready-to-be-merged

#1211 [Compute AG]: CBL Mariner name change
  compute/admin_guide/vulnerability_management/vm_image_scanning.adoc
Labels: do-not-merge, compute-AG

#1245 [High Priority][Compute AG: CWP-45982]: Update releases info
  compute/admin_guide/welcome/support_lifecycle.adoc
Labels: compute-AG

#1242 [Compute AG] Add port for PCEE to GKE Autopilot
  compute/admin_guide/install/deploy-defender/orchestrator/install-gke-autopilot.adoc
Labels: docs, feedback-slack, tested, compute-AG, ready-to-be-merged

#1232 [Compute AG]: Update AWS template format
  compute/admin_guide/waas/deploy_waas/deployment_vpc_mirroring.adoc
Labels: docs, compute-AG, ready-to-be-merged

#1243 CWP-48411-47900: Add a v1 endpoint for publish in 30.00 and 30.01
  api/_topic_map.yml
  api/descriptions/cloud/discovery_entities_get.md
  api/descriptions/cloud/discovery_get.md
  api/supported.cfg
  compute/rn/release-information/release-notes-30-00.adoc
  cspm/rn/prisma-cloud-compute-release-information/features-introduced-in-compute-april-2023.adoc
Labels: docs

#1250 Correction and fix
  api/descriptions/cloud/discovery_get.md
  api/descriptions/tas-droplets/scan_post.md
  api/descriptions/tas-droplets/stop_post.md
Labels: bug, compute-api, docs

#1256 [Maxwell Update 1 Build 30.01.153]: Release Notes [PCCE] only
  compute/rn/book.yml
  compute/rn/book_point_release.yml
  compute/rn/release-information/release-notes-30-01-update1-build-30-01-153.adoc
Labels: do-not-merge, compute-rn
