Repository PaloAltoNetworks/prisma-cloud-docs, pull requests merged in 2023-10, with the labels that each got.

#1573 [WAAS]: TLS limitations only for OOB
  compute/admin_guide/waas/deploy_waas/fragments/add-app-policy.adoc
  compute/admin_guide/waas/waas_advanced_settings.adoc
Labels: tested, compute-AG, ready-to-be-merged

#1588 [CSPM RN] Post 10.1 requests
  cspm/rn/prisma-cloud-release-information/look-ahead-planned-updates-prisma-cloud.adoc
Labels: cspm rn, ready-to-be-merged

#1584 [Compute AG] Agentless Secret Detection
  compute/admin_guide/_graphics/detect_secrets_762507.png
  compute/admin_guide/_graphics/detect_secrets_762508.png
  compute/admin_guide/compliance/detect_secrets.adoc
Labels: tested, compute-AG, ready-to-be-merged, newton-update-2

#1502 [Compute AG: CWP-51107]: Update binary to app package type
  compute/admin_guide/book_compute_edition.yml
  compute/admin_guide/book_prisma_cloud.yml
  compute/admin_guide/vulnerability_management/customize_image_scanning.adoc
  compute/admin_guide/vulnerability_management/scan_images_for_custom_vulnerabilities.adoc
Labels: compute-AG, ready-to-be-merged, newton-update-2

#1249 Update azure-credentials.adoc
  compute/admin_guide/authentication/credentials-store/azure-credentials.adoc
Labels: compute-AG, ready-to-be-merged, newton-update-1

#1586 Fixed issue PCSUP-18500
  cspm/rn/prisma-cloud-compute-release-information/prisma-cloud-compute-known-issues.adoc
Labels: do-not-merge

#1580 [Compute AG]Add Agentless Malware Scans content
  compute/admin_guide/agentless-scanning/agentless-scanning-results.adoc
  compute/admin_guide/book_prisma_cloud.yml
  compute/admin_guide/compliance/compliance_explorer.adoc
  compute/admin_guide/compliance/manage_compliance.adoc
  compute/admin_guide/compliance/prisma_cloud_compliance_checks.adoc
Labels: tested, compute-AG, newton-update-2

#1556 [CSPM Newton Update 2]: Release Notes for 31.02.xxx PCEE
  compute/rn/release-information/known-issues-31.adoc
  cspm/rn/book.yml
  cspm/rn/prisma-cloud-compute-release-information/features-introduced-in-compute-october-2023.adoc
  cspm/rn/prisma-cloud-compute-release-information/features-introduced-in-compute-september-2023.adoc
  cspm/rn/prisma-cloud-compute-release-information/look-ahead-planned-updates-prisma-cloud-compute.adoc
  cspm/rn/prisma-cloud-compute-release-information/prisma-cloud-compute-known-issues.adoc
  cspm/rn/prisma-cloud-compute-release-information/prisma-cloud-compute-release-information.adoc
Labels: tested, compute-rn, ready-to-be-merged, newton-update-2

#1591 [CSPM RN PCEE - Newton Update 2]: Updates
  cspm/rn/prisma-cloud-compute-release-information/features-introduced-in-compute-october-2023.adoc
  cspm/rn/prisma-cloud-compute-release-information/prisma-cloud-compute-known-issues.adoc
Labels: compute-rn, ready-to-be-merged

#1555 [Compute AG: CWP-51616]: Remove limitation on registry scan
  compute/admin_guide/vulnerability_management/registry_scanning/configure_registry_scanning.adoc
Labels: compute-AG, ready-to-be-merged, newton-update-2

#1557 [Compute PCCE RN - Newton Update 2] Add release notes for 31.02
  .gitignore
  compute/rn/book.yml
  compute/rn/book_point_release.yml
  compute/rn/release-information/known-issues-31.adoc
  compute/rn/release-information/release-notes-31-02-update2.adoc
Labels: compute-rn, ready-to-be-merged, newton-update-2

#1595 url fix in rn
  cspm/rn/prisma-cloud-release-information/features-introduced-in-2023/features-introduced-in-october-2023.adoc
Labels: cspm rn

#1608 [Dashboards > Vulnerability]: Updates
  docs/en/enterprise-edition/content-collections/dashboards/dashboards-vulnerabilities.adoc
Labels: docs, darwin

#1607 [AppSec] Modify with Fixes
  docs/en/enterprise-edition/content-collections/_graphics/application-security/licensing-1.png
  docs/en/enterprise-edition/content-collections/application-security/get-started/application-security-license-types.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/application-security-settings/application-security-settings.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/enable-application-security.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/get-started.adoc
  docs/en/enterprise-edition/content-collections/application-security/supported-technologies.adoc
Labels: docs, darwin

#1619 [Darwin Image Fix]: Add missing square brackets
  docs/en/enterprise-edition/content-collections/compliance/compliance.adoc
  docs/en/enterprise-edition/content-collections/connect/connect-cloud-accounts/onboard-gcp/update-onboarded-gcp-account.adoc
  docs/en/enterprise-edition/content-collections/connect/connect-cloud-accounts/onboard-your-azure-account/troubleshoot-azure-account-onboarding.adoc
Labels: docs, darwin

#1618 [Runtime Security]Add and fix xrefs
  docs/en/enterprise-edition/content-collections/get-started/get-started.adoc
  docs/en/enterprise-edition/content-collections/runtime-security/agentless-scanning/agentless-scanning-results.adoc
  docs/en/enterprise-edition/content-collections/runtime-security/alerts/alert-mechanism.adoc
  docs/en/enterprise-edition/content-collections/runtime-security/audit/kubernetes-auditing.adoc
  docs/en/enterprise-edition/content-collections/runtime-security/cloud-service-providers/cloud-discovery.adoc
  docs/en/enterprise-edition/content-collections/runtime-security/cloud-service-providers/cloud-service-providers.adoc
  docs/en/enterprise-edition/content-collections/runtime-security/runtime-security-components/licensing/licensing.adoc
  docs/en/enterprise-edition/content-collections/runtime-security/runtime-security-components/licensing/maintenance.adoc
  docs/en/enterprise-edition/content-collections/runtime-security/runtime-security-components/licensing/security-assurance-policy.adoc
  docs/en/enterprise-edition/content-collections/runtime-security/runtime-security-components/nat-gateway-ip-addresses.adoc
  docs/en/enterprise-edition/content-collections/runtime-security/runtime-security.adoc
  docs/en/enterprise-edition/content-collections/runtime-security/tools/twistcli-scan-iac.adoc
  docs/en/enterprise-edition/content-collections/runtime-security/upgrade/upgrade-process.adoc
  docs/en/enterprise-edition/content-collections/runtime-security/vulnerability-management/registry-scanning/scan-coreos-quay.adoc
  docs/en/enterprise-edition/content-collections/runtime-security/vulnerability-management/scan-vm-images.adoc
Labels: docs, tested, ready-to-be-merged, darwin

#1617 added missing topics in collection-admin-book and main-book, deleted duplicate
  docs/en/enterprise-edition/content-collections/administration/collection-administration.yml
  docs/en/enterprise-edition/content-collections/administration/prisma-cloud-admin-permissions.adoc
  docs/en/enterprise-edition/content-collections/administration/setup-sso-integration-on-prisma-cloud.adoc
  docs/en/enterprise-edition/content-collections/administration/setup-sso-integration-on-prisma-cloud/setup-sso-integration-on-prisma-cloud.adoc
  docs/en/enterprise-edition/content-collections/book.yml
  docs/en/enterprise-edition/content-collections/cloud-and-software-inventory/asset-inventory.adoc
  docs/en/enterprise-edition/content-collections/cloud-and-software-inventory/data-inventory.adoc
Labels: ready-to-be-merged, darwin

#1606 [App Sec] Modified repositories - fix
  docs/en/enterprise-edition/content-collections/_graphics/application-security/transporter-logs1.png
  docs/en/enterprise-edition/content-collections/application-security/collection-application-security.yml
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/add-private-registries.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/ci-cd-runs/add-aws-codebuild.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/ci-cd-runs/add-checkov.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/ci-cd-runs/add-circleci.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/ci-cd-runs/add-github-actions.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/ci-cd-runs/add-jenkins.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/ci-cd-runs/ci-cd-runs.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/ci-cd-systems/add-circleci-cicd-system.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/ci-cd-systems/add-jenkins-cicd-system.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/code-repositories/add-bitbucket-server.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/code-repositories/add-bitbucket.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/connect-code-and-build-providers.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/ides/connect-jetbrains.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/ides/connect-vscode.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/get-started.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/manage-network-tunnel/deploy-transporter-docker.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/manage-network-tunnel/deploy-transporter-helmcharts.adoc
  docs/en/enterprise-edition/content-collections/application-security/risk-management/ci-cd-risks.adoc
  docs/en/enterprise-edition/content-collections/application-security/visibility/repositories.adoc
  docs/en/enterprise-edition/content-collections/application-security/visibility/sbom.adoc
  docs/en/enterprise-edition/content-collections/application-security/visibility/technologies/pipeline-tools.adoc
  docs/en/enterprise-edition/content-collections/book.yml
  docs/en/enterprise-edition/content-collections/search-and-investigate/application-asset-queries/application-asset-build-explore.adoc
  docs/en/enterprise-edition/content-collections/search-and-investigate/application-asset-queries/application-asset-examples.adoc
Labels: ready-to-be-merged

#1623 RN and Connect Collection Fixes for Darwin
  docs/en/enterprise-edition/content-collections/connect/connect-cloud-accounts/cloud-service-provider-regions-on-prisma-cloud.adoc
  docs/en/enterprise-edition/content-collections/connect/connect-cloud-accounts/onboard-your-alibaba-account/set-up-your-alibaba-account.adoc
  docs/en/enterprise-edition/rn/known-issues/known-fixed-issues.adoc
  docs/en/enterprise-edition/rn/known-issues/known-issues.adoc
  docs/en/enterprise-edition/rn/look-ahead-planned-updates-prisma-cloud/look-ahead-planned-updates-prisma-cloud.adoc
  docs/en/enterprise-edition/rn/look-ahead-planned-updates-prisma-cloud/look-ahead-secure-the-runtime.adoc
  docs/en/enterprise-edition/rn/prisma-cloud-release-info/classic-releases/prisma-cloud-cspm-release-information/features-introduced-in-october-2023.adoc
  docs/en/enterprise-edition/rn/prisma-cloud-release-info/features-introduced-in-2023/features-introduced-in-october-2023.adoc
  docs/en/enterprise-edition/rn/prisma-cloud-release-info/prisma-cloud-release-info.adoc
Labels: tested, ready-to-be-merged

#1624 Housekeeping
  docs/en/enterprise-edition/content-collections/application-security/get-started/add-pre-receive-hooks.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/add-private-registries.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/ci-cd-runs/add-aws-codebuild.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/ci-cd-runs/add-checkov.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/ci-cd-runs/add-circleci.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/ci-cd-runs/add-github-actions.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/ci-cd-runs/add-jenkins.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/ci-cd-systems/add-circleci-cicd-system.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/ci-cd-systems/add-jenkins-cicd-system.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/ci-cd-systems/ci-cd-systems.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/code-repositories/add-azurerepos.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/code-repositories/add-bitbucket-server.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/code-repositories/add-bitbucket.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/code-repositories/add-github-server.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/code-repositories/add-github.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/code-repositories/add-gitlab-selfmanaged.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/code-repositories/add-gitlab.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/connect-code-and-build-providers.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/ides/connect-jetbrains.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/ides/connect-vscode.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/get-started.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/manage-network-tunnel/deploy-transporter-docker.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/manage-network-tunnel/deploy-transporter-helmcharts.adoc
  docs/en/enterprise-edition/content-collections/application-security/risk-management/ci-cd-risks.adoc
  docs/en/enterprise-edition/content-collections/application-security/visibility/repositories.adoc
  docs/en/enterprise-edition/content-collections/application-security/visibility/sbom.adoc
  docs/en/enterprise-edition/content-collections/application-security/visibility/technologies/jenkins-plugins.adoc
  docs/en/enterprise-edition/content-collections/application-security/visibility/technologies/pipeline-tools.adoc
  docs/en/enterprise-edition/content-collections/application-security/visibility/technologies/technologies.adoc
  docs/en/enterprise-edition/content-collections/application-security/visibility/technologies/technology-overview.adoc
  docs/en/enterprise-edition/content-collections/application-security/visibility/technologies/vcs-third-parties.adoc
Labels: ready-to-be-merged

#1534 Azure policies for September
  docs/en/classic/compute-admin-guide/waas/waas-advanced-settings.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-general-policies/azr-general-163.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-general-policies/azr-general-164.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-general-policies/azr-general-166.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-general-policies/azr-general-167.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-general-policies/azr-general-170.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-general-policies/azr-general-172.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-general-policies/azr-general-173.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-general-policies/azr-general-175.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-general-policies/azr-general-177.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-general-policies/azr-general-178.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-general-policies/azr-general-179.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-general-policies/azr-general-180.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-general-policies/azr-general-186.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-general-policies/azr-general-187.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-general-policies/azr-general-188.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-general-policies/azr-general-196.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-general-policies/azr-general-199.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-general-policies/azr-general-201.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-general-policies/azr-general-206.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-general-policies/azr-general-208.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-general-policies/azr-general-209.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-general-policies/azr-general-211.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-general-policies/azr-general-212.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-general-policies/azr-general-214.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-general-policies/azr-general-3.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-general-policies/azure-general-policies.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-iam-policies/azr-iam-176.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-iam-policies/azr-iam-181.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-iam-policies/azr-iam-184.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-iam-policies/azr-iam-191.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-iam-policies/azr-iam-192.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-iam-policies/azr-iam-194.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-iam-policies/azr-iam-195.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-iam-policies/azr-iam-202.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-iam-policies/azr-iam-203.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-iam-policies/azr-iam-207.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-iam-policies/azure-iam-policies.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-kubernetes-policies/azr-kubernetes-168.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-kubernetes-policies/azr-kubernetes-169.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-kubernetes-policies/azure-kubernetes-policies.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-logging-policies/azr-logging-146.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-logging-policies/azure-logging-policies.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-networking-policies/azr-networking-165.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-networking-policies/azr-networking-171.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-networking-policies/azr-networking-174.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-networking-policies/azr-networking-182.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-networking-policies/azr-networking-183.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-networking-policies/azr-networking-185.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-networking-policies/azr-networking-189.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-networking-policies/azr-networking-190.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-networking-policies/azr-networking-193.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-networking-policies/azr-networking-197.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-networking-policies/azr-networking-198.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-networking-policies/azr-networking-200.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-networking-policies/azr-networking-204.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-networking-policies/azr-networking-205.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-networking-policies/azr-networking-210.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-networking-policies/azr-networking-213.adoc
  docs/en/enterprise-edition/policy-reference/azure-policies/azure-networking-policies/azure-networking-policies.adoc
Labels: ready-to-be-merged

#1599 Fix policy IDs and fix suggestions
  docs/en/enterprise-edition/policy-reference/book.yml
  docs/en/enterprise-edition/policy-reference/google-cloud-policies/google-cloud-general-policies/ensure-gcp-subnet-has-a-private-ip-google-access.adoc
  docs/en/enterprise-edition/policy-reference/google-cloud-policies/google-cloud-general-policies/google-cloud-general-policies.adoc
  docs/en/enterprise-edition/policy-reference/google-cloud-policies/google-cloud-networking-policies/ensure-gcp-private-google-access-is-enabled-for-ipv6.adoc
  docs/en/enterprise-edition/policy-reference/google-cloud-policies/google-cloud-networking-policies/google-cloud-networking-policies.adoc
Labels: ready-to-be-merged

#1568 Add two policies for customer
  docs/en/classic/compute-admin-guide/waas/waas-advanced-settings.adoc
  docs/en/enterprise-edition/policy-reference/aws-policies/aws-general-policies/aws-general-policies.adoc
  docs/en/enterprise-edition/policy-reference/aws-policies/aws-general-policies/bc-aws-general-112.adoc
  docs/en/enterprise-edition/policy-reference/aws-policies/aws-kubernetes-policies/bc-aws-kubernetes-1.adoc
  docs/en/enterprise-edition/policy-reference/aws-policies/aws-networking-policies/aws-networking-policies.adoc
  docs/en/enterprise-edition/policy-reference/aws-policies/aws-networking-policies/bc-aws-networking-66.adoc
Labels: ready-to-be-merged

#1631 search-investigate, alerts update
  docs/en/enterprise-edition/content-collections/_graphics/alerts/alerts-views-delete.png
  docs/en/enterprise-edition/content-collections/_graphics/alerts/alerts-views-reorder.png
  docs/en/enterprise-edition/content-collections/_graphics/alerts/alerts-views-visible.png
  docs/en/enterprise-edition/content-collections/_graphics/alerts/attack-paths-alert-1.png
  docs/en/enterprise-edition/content-collections/_graphics/alerts/download-alerts.png
  docs/en/enterprise-edition/content-collections/_graphics/alerts/fix-in-code-1.png
  docs/en/enterprise-edition/content-collections/_graphics/alerts/home-attack-paths-1.png
  docs/en/enterprise-edition/content-collections/_graphics/alerts/home-urgent-risks-1.png
  docs/en/enterprise-edition/content-collections/_graphics/alerts/remediation-1.png
  docs/en/enterprise-edition/content-collections/_graphics/search-and-investigate/asset-search-1.gif
  docs/en/enterprise-edition/content-collections/administration/prisma-cloud-administrator-roles.adoc
  docs/en/enterprise-edition/content-collections/alerts/alerts.adoc
  docs/en/enterprise-edition/content-collections/alerts/collection-alerts.yml
  docs/en/enterprise-edition/content-collections/alerts/risk-prioritization-remediation.adoc
  docs/en/enterprise-edition/content-collections/alerts/view-respond-to-prisma-cloud-alerts.adoc
  docs/en/enterprise-edition/content-collections/book.yml
  docs/en/enterprise-edition/content-collections/search-and-investigate/application-asset-queries/application-asset-build-explore.adoc
  docs/en/enterprise-edition/content-collections/search-and-investigate/application-asset-queries/application-asset-queries.adoc
  docs/en/enterprise-edition/content-collections/search-and-investigate/asset-queries/asset-queries.adoc
  docs/en/enterprise-edition/content-collections/search-and-investigate/asset-queries/asset-query-attributes.adoc
  docs/en/enterprise-edition/content-collections/search-and-investigate/search-and-investigate.adoc
Labels: ready-to-be-merged, darwin

#1628 [Darwin]: Remove image scaling values
  docs/en/enterprise-edition/content-collections/get-started/adoption-advisor.adoc
Labels: docs, darwin

#1636 Dashboard Vulnerabilities: Convert table to a list
  docs/en/enterprise-edition/content-collections/dashboards/dashboards-vulnerabilities.adoc
Labels: docs, darwin

#1642 [AppSec] Add LA to RN 10.2
  docs/en/enterprise-edition/rn/look-ahead-planned-updates-prisma-cloud/look-ahead-secure-the-source.adoc
Labels: docs, darwin

#1644 [App-Sec] Review changes
  docs/en/enterprise-edition/content-collections/application-security/familiarize-application-security.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/ci-cd-runs/add-aws-codebuild.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/ci-cd-runs/add-circleci.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/ci-cd-systems/add-circleci-cicd-system.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/ci-cd-systems/add-jenkins-cicd-system.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/code-repositories/add-bitbucket-server.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/code-repositories/add-bitbucket.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/code-repositories/add-github-server.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/code-repositories/add-gitlab-selfmanaged.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/code-repositories/add-gitlab.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/connect-code-and-build-providers/connect-code-and-build-providers.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/manage-network-tunnel/deploy-transporter-docker.adoc
  docs/en/enterprise-edition/content-collections/application-security/get-started/manage-network-tunnel/deploy-transporter-helmcharts.adoc
  docs/en/enterprise-edition/content-collections/application-security/risk-management/ci-cd-risks.adoc
Labels: ready-to-be-merged

#1645 [Runtime Security]Fix broken xrefs
  docs/en/enterprise-edition/content-collections/runtime-security/audit/kubernetes-auditing.adoc
  docs/en/enterprise-edition/content-collections/runtime-security/configure/clustered-db.adoc
  docs/en/enterprise-edition/content-collections/runtime-security/configure/custom-certs-predefined-dir.adoc
  docs/en/enterprise-edition/content-collections/runtime-security/install/system-requirements.adoc
  docs/en/enterprise-edition/content-collections/runtime-security/rs-support-lifecycle.adoc
  docs/en/enterprise-edition/content-collections/runtime-security/runtime-security-components/licensing/security-assurance-policy.adoc
  docs/en/enterprise-edition/content-collections/runtime-security/runtime-security-components/serverless-radar.adoc
Labels: docs, tested, ready-to-be-merged, darwin

#1647 [App-Sec] Added repositories graph details1.1 image to repositories page
  docs/en/enterprise-edition/content-collections/_graphics/application-security/repositories-graph-details1.1.png
Labels: ready-to-be-merged

#1650 configure iam updates in admin
  docs/en/enterprise-edition/content-collections/_graphics/administration/iam-security-raw-permission.png
  docs/en/enterprise-edition/content-collections/_graphics/administration/investigate-iam.png
  docs/en/enterprise-edition/content-collections/administration/collection-administration.yml
  docs/en/enterprise-edition/content-collections/administration/configure-iam-security/cloud-identity-inventory.adoc
  docs/en/enterprise-edition/content-collections/administration/configure-iam-security/investigate-iam-incidents-on-prisma-cloud.adoc
  docs/en/enterprise-edition/content-collections/book.yml
Labels: ready-to-be-merged, darwin
