Repository PaloAltoNetworks/prisma-cloud-docs, pull requests merged in 2023-06, with the labels that each got.

#1261 [CSPM AG] Updates for 23.6.1
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-azure-account/authorize-prisma-cloud.adoc
  cspm/admin-guide/manage-prisma-cloud-administrators/setup-sso-integration-on-prisma-cloud/setup-sso-integration-on-prisma-cloud-for-microsoft-azure-active-directory.adoc
  cspm/admin-guide/prisma-cloud-dashboards/prisma-cloud-dashboards.adoc
  cspm/rql-reference/rql-reference/iam-query/iam-query-attributes.adoc
Labels: tested, cspm ag, cspm rql, ready-to-be-merged

#1247 [CSPM RN] - 23.6.1 release
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-gcp/prerequisites-to-onboard-gcp.adoc
  cspm/admin-guide/prisma-cloud-compliance/compliance-dashboard.adoc
  cspm/admin-guide/prisma-cloud-policies/prisma-cloud-threat-detection.adoc
  cspm/rn/_graphics/codesec-rn-6.1-1.png
  cspm/rn/_graphics/codesec-rn-6.1-2.png
  cspm/rn/_graphics/codesec-rn-6.1-3.png
  cspm/rn/book.yml
  cspm/rn/prisma-cloud-code-security-release-information/features-introduced-in-code-security-2023/features-introduced-in-code-security-2023.adoc
  cspm/rn/prisma-cloud-code-security-release-information/features-introduced-in-code-security-2023/features-introduced-in-code-security-june-2023.adoc
  cspm/rn/prisma-cloud-release-information/features-introduced-in-2023/features-introduced-in-2023.adoc
  cspm/rn/prisma-cloud-release-information/features-introduced-in-2023/features-introduced-in-june-2023.adoc
  cspm/rn/prisma-cloud-release-information/known-issues.adoc
  cspm/rn/prisma-cloud-release-information/limited-ga-features-prisma-cloud.adoc
  cspm/rn/prisma-cloud-release-information/look-ahead-planned-updates-prisma-cloud.adoc
Labels: docs, tested, cspm rn, ready-to-be-merged

#1265 [CSPM RN] updates to lga and known issues for 23.6.1
  cspm/rn/_graphics/asset-details-view.png
  cspm/rn/_graphics/attack-path-policies-view.png
  cspm/rn/prisma-cloud-release-information/known-issues.adoc
  cspm/rn/prisma-cloud-release-information/limited-ga-features-prisma-cloud.adoc
Labels: ready-to-be-merged

#1266 [CodeSec AG] Add update for Projects 2.0 [RLP-99737]
  code-security/admin_guide/_graphics/fix-vul-1.png
  code-security/admin_guide/_graphics/fix-vul-2.png
  code-security/admin_guide/_graphics/fix-vul.png
  code-security/admin_guide/get-started/connect-your-repositories/add-terraform-cloud.adoc
  code-security/admin_guide/scan-monitor/monitor-fix-issues-in-scan/fix-issues-in-a-scan-result.adoc
  code-security/admin_guide/scan-monitor/monitor-fix-issues-in-scan/monitor-fix-issues-in-scan.adoc
Labels: tested, ready-to-be-merged

#1272 Update bc-k8s-17 and bc-k8s-18
  code-security/policy-reference/kubernetes-policies/kubernetes-policy-index/bc-k8s-17.adoc
  code-security/policy-reference/kubernetes-policies/kubernetes-policy-index/bc-k8s-18.adoc
Labels: tested, ready-to-be-merged

#1260 [Compute Look-Ahead] Maxwell Update 2
  cspm/rn/prisma-cloud-compute-release-information/look-ahead-planned-updates-prisma-cloud-compute.adoc
  cspm/rn/prisma-cloud-compute-release-information/prisma-cloud-compute-known-issues.adoc
Labels: tested, compute-rn, ready-to-be-merged, maxwell-update-2

#1276 [Compute Look Ahead] Comment out Changes in existing behavior
  cspm/rn/prisma-cloud-compute-release-information/look-ahead-planned-updates-prisma-cloud-compute.adoc
Labels: tested, compute-rn, ready-to-be-merged, maxwell-update-2

#1284 [Compute LookAhead]: Add blurb for CWP-34539
  cspm/rn/prisma-cloud-compute-release-information/look-ahead-planned-updates-prisma-cloud-compute.adoc
Labels: tested, ready-to-be-merged, maxwell-update-2

#1294 [CSPM AG] RLP-103761 - Jira Version update
  cspm/admin-guide/configure-external-integrations-on-prisma-cloud/integrate-prisma-cloud-with-jira.adoc
Labels: cspm ag, ready-to-be-merged

#1297 [CodeSec Policy Ref] Fix book.yml
  code-security/policy-reference/book.yml
Labels: tested, ready-to-be-merged

#1306 Codesec rn jun15
  code-security/admin_guide/_graphics/Bitbucket Webhook.png
  code-security/admin_guide/get-started/connect-your-repositories/add-bitbucket-server.adoc
  code-security/admin_guide/get-started/connect-your-repositories/add-bitbucket.adoc
  code-security/policy-reference/book.yml
  code-security/policy-reference/kubernetes-policies/kubernetes-policy-index/bc-k8s-17.adoc
  code-security/policy-reference/kubernetes-policies/kubernetes-policy-index/bc-k8s-18.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-100.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-101.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-102.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-103.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-104.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-105.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-106.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-86.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-87.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-88.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-89.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-90.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-91.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-92.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-93.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-94.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-95.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-96.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-97.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-98.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/git-secrets-99.adoc
  code-security/policy-reference/secrets-policies/secrets-policy-index/secrets-policy-index.adoc
  cspm/admin-guide/_graphics/access-to-prisma-cloud-visualization.png
  cspm/admin-guide/configure-external-integrations-on-prisma-cloud/integrate-prisma-cloud-with-jira.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-gcp/prerequisites-to-onboard-gcp.adoc
  cspm/admin-guide/get-started-with-prisma-cloud/enable-access-prisma-cloud-console.adoc
  cspm/admin-guide/get-started-with-prisma-cloud/prisma-cloud-licenses.adoc
  cspm/admin-guide/prisma-cloud-dashboards/asset-inventory.adoc
  cspm/rn/prisma-cloud-compute-release-information/look-ahead-planned-updates-prisma-cloud-compute.adoc
  cspm/rn/prisma-cloud-compute-release-information/prisma-cloud-compute-known-issues.adoc
  cspm/rn/prisma-cloud-release-information/features-introduced-in-2023/features-introduced-in-june-2023.adoc
  cspm/rn/prisma-cloud-release-information/known-issues.adoc
Labels: tested, ready-to-be-merged

#1307 [CSPM RN] 22.6.2
  cspm/rn/prisma-cloud-release-information/features-introduced-in-2023/features-introduced-in-june-2023.adoc
  cspm/rn/prisma-cloud-release-information/known-issues.adoc
  cspm/rn/prisma-cloud-release-information/look-ahead-planned-updates-prisma-cloud.adoc
Labels: tested, cspm rn

#1302 [CSPM AG] -RLP-104908 + broken link fix
  cspm/admin-guide/_graphics/forward-audit-logs.gif
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-azure-account/connect-azure-account.adoc
  cspm/admin-guide/manage-prisma-cloud-administrators/view-audit-logs.adoc
  cspm/admin-guide/prisma-cloud-data-security/what-is-included-with-prisma-cloud-data-security.adoc
Labels: tested, cspm ag

#1271 [API] [Doc] : Maxwell update 2
  api/_topic_map.yml
  api/descriptions/cloud/discovery_entities_get.md
  api/descriptions/registry/get_registry_progress.md
  api/descriptions/registry/scan_post.md
  api/descriptions/statuses/registry_get.md
  api/supported.cfg
Labels: compute-api, docs, maxwell-update-2

#1311 [CSPM RN] LA Fixes post 6.2 publish
  cspm/rn/prisma-cloud-release-information/look-ahead-planned-updates-prisma-cloud.adoc
Labels: cspm rn, ready-to-be-merged

#1314 [Compute Public Sector]Updates for 30.01.153
  compute/public_sector/Release_Findings/v30_01_153/v30_01_153.adoc
  compute/public_sector/book.yml
Labels: tested

#1254 [Compute AG: CWP-39559]: Update Cloud Provider type audit info
  compute/admin_guide/runtime_defense/runtime_audits.adoc
Labels: tested, compute-AG, ready-to-be-merged, maxwell-update-2

#1255 [Compute AG: CWP-45935]: Update Tanzu TAS Defender
  compute/admin_guide/configure/collections.adoc
  compute/admin_guide/install/deploy-defender/orchestrator/install_tas_defender.adoc
  compute/admin_guide/vulnerability_management/vmware_tanzu_blobstore.adoc
Labels: tested, compute-AG, ready-to-be-merged, maxwell-update-2

#1244 [Compute AG: CWP-47516]: K8s CrashLoopBackOff error
  compute/admin_guide/install/deploy-defender/orchestrator/orchestrator.adoc
  compute/admin_guide/waas/deploy_waas/deploy_oob_containers.adoc
  compute/admin_guide/waas/deploy_waas/fragments/create-waas-rule.adoc
Labels: tested, compute-AG, ready-to-be-merged, maxwell-update-2

#1270 [Compute AG: CWP-48001]:CoreOS Quay Registry scan
  compute/admin_guide/book_compute_edition.yml
  compute/admin_guide/book_prisma_cloud.yml
  compute/admin_guide/vulnerability_management/registry_scanning/registry_scanning.adoc
  compute/admin_guide/vulnerability_management/registry_scanning/scan_coreos_quay.adoc
Labels: tested, ready-to-be-merged, maxwell-update-2

#1278 [Compute AG][CWP-48517] Serverless process
  compute/admin_guide/_graphics/serverless-scan-process.png
  compute/admin_guide/vulnerability_management/serverless_functions.adoc
Labels: docs, tested, compute-AG, ready-to-be-merged, maxwell-update-2

#1282 [Compute AG]: Fix typo in Vulnerability Scanning Procedure
  compute/admin_guide/_graphics/scanning-flow-chart-twistcli.png
  compute/admin_guide/vulnerability_management/scan_procedure.adoc
Labels: tested, compute-AG, ready-to-be-merged, maxwell-update-2

#1299 [Compute AG: CWP-44813]: Add Managed Identity auth method in Azure
  compute/admin_guide/_graphics/agentless-azure-account-config.png
  compute/admin_guide/_graphics/azure-managed-identity-auth.png
  compute/admin_guide/_graphics/azure-managed-identity-user-assigned.png
  compute/admin_guide/_graphics/azure-portal-managed-identity-system-assigned.png
  compute/admin_guide/_graphics/managed-identity-system-assigned.png
  compute/admin_guide/_graphics/managed-identity-user-assigned.png
  compute/admin_guide/agentless-scanning/onboard-accounts/onboard-azure.adoc
Labels: tested, compute-AG, ready-to-be-merged, maxwell-update-2

#1316 [Compute AG: WAAS]: Update API discovery section
  compute/admin_guide/waas/waas_api_discovery.adoc
Labels: tested, maxwell-update-2

#1286 [Compute AG- Webhook Alerts: CWP-43837]: Update macros in custom JSON
  compute/admin_guide/_graphics/webhook-config-1.png
  compute/admin_guide/alerts/frag_send_alerts.adoc
  compute/admin_guide/alerts/webhook.adoc
Labels: tested, compute-AG, ready-to-be-merged, maxwell-update-2

#1283 [Compute AG: CWP-34539 + CWP-48866]: Update support for Custom Compliance checks
  compute/admin_guide/_graphics/container-runtime-type-ui.png
  compute/admin_guide/_graphics/cri_toggle.png
  compute/admin_guide/compliance/custom_compliance_checks.adoc
  compute/admin_guide/install/deploy-console/console-on-eks.adoc
  compute/admin_guide/install/deploy-console/console-on-iks.adoc
  compute/admin_guide/install/deploy-defender/orchestrator/install-gke-autopilot.adoc
  compute/admin_guide/install/deploy-defender/orchestrator/install_kubernetes_cri.adoc
  compute/admin_guide/install/deploy-defender/orchestrator/openshift.adoc
  compute/admin_guide/install/fragments/install_defender_twistcli_export_kubectl.adoc
Labels: tested, compute-AG, ready-to-be-merged, maxwell-update-2

#1258 [Compute AG] Deprecation of NodeJS 12.x in AWS
  compute/admin_guide/install/deploy-defender/serverless/serverless.adoc
Labels: docs, compute-AG

#1280 [Compute RN][Maxwell Update 2] PCEE
  cspm/rn/book.yml
  cspm/rn/prisma-cloud-compute-release-information/features-introduced-in-compute-june-2023.adoc
  cspm/rn/prisma-cloud-compute-release-information/prisma-cloud-compute-known-issues.adoc
  cspm/rn/prisma-cloud-compute-release-information/prisma-cloud-compute-release-information.adoc
Labels: tested, compute-rn, ready-to-be-merged, maxwell-update-2

#1281 [Compute RN][Maxwell Update 2] PCCE
  compute/rn/book_point_release.yml
  compute/rn/release-information/release-notes-30-02-update2.adoc
Labels: tested, compute-rn, ready-to-be-merged, maxwell-update-2

#1293 [Compute AG]Agentless Scanning GCP Features
  compute/admin_guide/_graphics/agentless-aws-pcee-advanced-settings.png
  compute/admin_guide/_graphics/agentless-gcp-pcee-advanced-settings.png
  compute/admin_guide/_graphics/tags-scope.png
  compute/admin_guide/agentless-scanning/onboard-accounts/configure-gcp.adoc
  compute/admin_guide/agentless-scanning/onboard-accounts/onboard-aws.adoc
  compute/admin_guide/agentless-scanning/onboard-accounts/onboard-azure.adoc
  compute/admin_guide/agentless-scanning/onboard-accounts/onboard-gcp.adoc
  compute/admin_guide/book_compute_edition.yml
  compute/admin_guide/book_prisma_cloud.yml
Labels: docs, tested, compute-AG, ready-to-be-merged, maxwell-update-2

#1350 [PCEE &PCCE Compute AG]Add Defender type decision tree.
  compute/admin_guide/_graphics/defender-decision-tree.png
  compute/admin_guide/install/deploy-defender/defender_types.adoc
Labels: docs, tested, compute-AG, ready-to-be-merged

#1349 [Compute RN]: Maxwell RN naming and code convention fix
  compute/rn/book.yml
  compute/rn/book_point_release.yml
  compute/rn/release-information/release-notes-30-01-update1-build-30-01-153.adoc
  compute/rn/release-information/release-notes-30-01-update1.adoc
  compute/rn/release-information/release-notes-30-02-update2.adoc
Labels: compute-rn

#1348 [CodeSec AG] Update for 23.7.1
  code-security/admin_guide/_graphics/proj-16.png
  code-security/admin_guide/book.yml
  code-security/admin_guide/get-started/connect-your-repositories/add-pre-receive-hooks.adoc
  code-security/admin_guide/scan-monitor/monitor-fix-issues-in-scan/monitor-fix-issues-in-scan.adoc
Labels: tested, ready-to-be-merged

#1343 7 1 updates
  cspm/admin-guide/manage-prisma-cloud-administrators/view-audit-logs.adoc
  cspm/admin-guide/prisma-cloud-iam-security/cloud-identity-inventory.adoc
  cspm/admin-guide/prisma-cloud-iam-security/context-used-to-calculate-effective-permissions.adoc
  cspm/rql-reference/rql-reference/iam-query/iam-query-attributes.adoc
Labels: tested, cspm ag, ready-to-be-merged

#1342 Novartis updates
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-azure-account/connect-azure-account.adoc
  cspm/admin-guide/manage-prisma-cloud-administrators/setup-sso-integration-on-prisma-cloud/setup-sso-integration-on-prisma-cloud-for-microsoft-azure-active-directory.adoc
Labels: tested, cspm ag

#1312 [CSPM RN] 23.7.1 - June 30 publish
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/cloud-service-provider-regions-on-prisma-cloud.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-gcp/prerequisites-to-onboard-gcp.adoc
  cspm/admin-guide/prisma-cloud-compliance/compliance-dashboard.adoc
  cspm/admin-guide/prisma-cloud-dashboards/asset-inventory.adoc
  cspm/admin-guide/prisma-cloud-data-security/enable-data-security-module/add-a-new-aws-account.adoc
  cspm/admin-guide/prisma-cloud-data-security/what-is-included-with-prisma-cloud-data-security.adoc
  cspm/rn/_graphics/aws-new-regions-7-1.png
  cspm/rn/_graphics/codesec-rn-23.7.1.png
  cspm/rn/_graphics/integrated-alert-run-and-build-view-lga.png
  cspm/rn/book.yml
  cspm/rn/prisma-cloud-code-security-release-information/features-introduced-in-code-security-2023/features-introduced-in-code-security-2023.adoc
  cspm/rn/prisma-cloud-code-security-release-information/features-introduced-in-code-security-2023/features-introduced-in-code-security-july-2023.adoc
  cspm/rn/prisma-cloud-code-security-release-information/look-ahead-planned-updates-prisma-cloud-code-security.adoc
  cspm/rn/prisma-cloud-release-information/features-introduced-in-2023/features-introduced-in-2023.adoc
  cspm/rn/prisma-cloud-release-information/features-introduced-in-2023/features-introduced-in-july-2023.adoc
  cspm/rn/prisma-cloud-release-information/known-issues.adoc
  cspm/rn/prisma-cloud-release-information/limited-ga-features-prisma-cloud.adoc
  cspm/rn/prisma-cloud-release-information/look-ahead-planned-updates-prisma-cloud.adoc
Labels: tested, cspm rn, ready-to-be-merged

#1352 [Compute AG][Agentless]Add cross-references and feedback
  compute/admin_guide/_graphics/agentless-gcp-pcee-advanced-settings.png
  compute/admin_guide/agentless-scanning/agentless-scanning.adoc
  compute/admin_guide/agentless-scanning/onboard-accounts/configure-gcp.adoc
  compute/admin_guide/agentless-scanning/onboard-accounts/onboard-aws.adoc
Labels: docs, tested, compute-AG, ready-to-be-merged
