Repository PaloAltoNetworks/prisma-cloud-docs, pull requests merged in 2023-08, with the labels that each got.

#1436 [CSPM LookAhead: Newton]: Add Upgrade Defender
  cspm/rn/prisma-cloud-compute-release-information/look-ahead-planned-updates-prisma-cloud-compute.adoc
Labels: tested, cspm rn, ready-to-be-merged, newton

#1444 [Compute AG]: Language/grammar/image fixes
  compute/admin_guide/alerts/alert_mechanism.adoc
Labels: tested, compute-AG, ready-to-be-merged

#1451 fix for issue 17803
  cspm/admin-guide/_graphics/iam-security-module-30-day-trial.png
  cspm/admin-guide/_graphics/iam-security-module-subscribe.png
  cspm/admin-guide/prisma-cloud-iam-security/enable-iam-security.adoc
Labels: tested, cspm ag

#1452 [CSPM AG] post-23.8.1 attack path GA updates
  cspm/admin-guide/_graphics/add-filters.png
  cspm/admin-guide/_graphics/add-visualization.png
  cspm/admin-guide/_graphics/attack-path-1.png
  cspm/admin-guide/_graphics/attack-path-2.png
  cspm/admin-guide/_graphics/attack-path-3.png
  cspm/admin-guide/_graphics/attack-path-4.png
  cspm/admin-guide/_graphics/attack-path-5.png
  cspm/admin-guide/_graphics/manage-policies.png
  cspm/admin-guide/_graphics/unified-asset-inventory-3.png
  cspm/admin-guide/book.yml
  cspm/admin-guide/prisma-cloud-dashboards/asset-inventory.adoc
  cspm/admin-guide/prisma-cloud-policies/attack-path-policies.adoc
  cspm/admin-guide/prisma-cloud-policies/manage-prisma-cloud-policies.adoc
  cspm/admin-guide/prisma-cloud-policies/workload-protection-policies.adoc
Labels: ready-to-be-merged

#1458 [CSPM RN] 23.8.3 - Aug 11th publish
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-gcp/prerequisites-to-onboard-gcp.adoc
  cspm/admin-guide/prisma-cloud-compliance/compliance-dashboard.adoc
  cspm/rn/_graphics/rn-workload-defence-update.png
  cspm/rn/prisma-cloud-release-information/features-introduced-in-2023/features-introduced-in-august-2023.adoc
  cspm/rn/prisma-cloud-release-information/known-issues.adoc
  cspm/rn/prisma-cloud-release-information/limited-ga-features-prisma-cloud.adoc
  cspm/rn/prisma-cloud-release-information/look-ahead-planned-updates-prisma-cloud.adoc
Labels: tested, cspm rn, ready-to-be-merged

#1457 [AppSec RN] 23.8.2
  cspm/rn/_graphics/appsec-transporter-topology-23.8.2.png
  cspm/rn/prisma-cloud-code-security-release-information/features-introduced-in-code-security-2023/features-introduced-in-code-security-august-2023.adoc
  cspm/rn/prisma-cloud-code-security-release-information/look-ahead-planned-updates-prisma-cloud-code-security.adoc
Labels: tested, ready-to-be-merged

#1442 [CSPM AG] rename from code sec to app sec RLP-106732
  cspm/admin-guide/get-started-with-prisma-cloud/enable-access-prisma-cloud-console.adoc
  cspm/admin-guide/get-started-with-prisma-cloud/prisma-cloud-first-look.adoc
  cspm/admin-guide/get-started-with-prisma-cloud/prisma-cloud-licenses.adoc
  cspm/admin-guide/manage-prisma-cloud-administrators/adoption-advisor.adoc
  cspm/admin-guide/manage-prisma-cloud-administrators/create-prisma-cloud-roles.adoc
  cspm/admin-guide/manage-prisma-cloud-administrators/prisma-cloud-administrator-roles.adoc
  cspm/admin-guide/prisma-cloud-dashboards/prisma-cloud-dashboards.adoc
  cspm/admin-guide/prisma-cloud-policies/create-a-policy.adoc
Labels: ready-to-be-merged

#1412 CWP-50215: Correct UI Reference for Container Reports
  api/descriptions/containers/download_get.md
  api/descriptions/containers/get.md
Labels: bug, compute-api, docs

#1473 [CSPM RN]: Fix typo in Look Ahead for Compute PCEE
  cspm/rn/prisma-cloud-compute-release-information/look-ahead-planned-updates-prisma-cloud-compute.adoc
Labels: ready-to-be-merged, newton

#1480 [Compute AG]: Update Redeploy Defenders commands
  compute/admin_guide/install/deploy-defender/redeploy-defender.adoc
Labels: docs, tested, compute-AG, ready-to-be-merged, newton

#1475 [Newton AG: CWP-49230]: Update cis_benchmarks.adoc
  compute/admin_guide/compliance/cis_benchmarks.adoc
Labels: compute-AG, ready-to-be-merged, newton

#1477 [Compute AG: CWP-47467]: Support registry tags in Collections
  compute/admin_guide/configure/collections.adoc
Labels: tested, compute-AG, ready-to-be-merged, newton

#1456 [Compute AG: App-Embedded Defender]: Fragments + App-Embedded in GCR
  compute/admin_guide/book_compute_edition.yml
  compute/admin_guide/book_prisma_cloud.yml
  compute/admin_guide/install/deploy-defender/app-embedded/deploy-app-embedded-defender-aci.adoc
  compute/admin_guide/install/deploy-defender/app-embedded/deploy-app-embedded-defender-gcr.adoc
  compute/admin_guide/install/deploy-defender/app-embedded/fragments/configure-app-embedded-defender-in-prisma.adoc
  compute/admin_guide/install/deploy-defender/app-embedded/fragments/embed-app-embedded-defender-manually.adoc
  compute/admin_guide/install/deploy-defender/app-embedded/fragments/embed-app-embedded-defender-twistcli.adoc
  compute/admin_guide/install/deploy-defender/app-embedded/fragments/embed-app-embedded-defender-with-dockerfile.adoc
  compute/admin_guide/install/deploy-defender/app-embedded/fragments/view-deployed-defenders.adoc
Labels: tested, compute-AG, ready-to-be-merged, newton

#1474 [CWP-49230]: Update twistcli_scan_images page with additional `twistcli` flags
  compute/admin_guide/tools/twistcli_scan_images.adoc
Labels: docs, compute-AG, ready-to-be-merged, newton

#1479 [Compute AG] Add link to EBS encryption permission list
  compute/admin_guide/configure/permissions.adoc
Labels: docs, compute-AG, ready-to-be-merged, newton

#1478 [Compute AG]Add curl command flag for CA
  compute/admin_guide/install/deploy-defender/deploy-defender.adoc
Labels: docs, compute-AG, ready-to-be-merged, newton

#1446 [Newton] [Compute RN] PCEE
  compute/rn/_graphics/non-rpm-accurate-cve-details.png
  cspm/rn/book.yml
  cspm/rn/prisma-cloud-compute-release-information/features-introduced-in-compute-august-2023.adoc
  cspm/rn/prisma-cloud-compute-release-information/prisma-cloud-compute-known-issues.adoc
  cspm/rn/prisma-cloud-compute-release-information/prisma-cloud-compute-release-information.adoc
Labels: do-not-merge, compute-rn, newton

#1448 [Compute RN] [Newton] Remove Look Ahead information
  cspm/rn/prisma-cloud-compute-release-information/look-ahead-planned-updates-prisma-cloud-compute.adoc
Labels: do-not-merge, compute-rn, newton

#1484 Add non-rpm image to cspm/rn/_graphics
  cspm/rn/_graphics/non-rpm-accurate-cve-details.png
Labels: compute-rn, ready-to-be-merged, newton

#1486 [Compute AG]: Include anchors for TOC
  compute/admin_guide/install/deploy-defender/app-embedded/deploy-app-embedded-defender-aci.adoc
  compute/admin_guide/install/deploy-defender/app-embedded/deploy-app-embedded-defender-gcr.adoc
  compute/admin_guide/install/deploy-defender/app-embedded/fragments/embed-app-embedded-defender-manually.adoc
  compute/admin_guide/install/deploy-defender/app-embedded/fragments/embed-app-embedded-defender-twistcli.adoc
Labels: compute-AG, ready-to-be-merged, newton

#1422 [Newton Compute AG: CWP-29368]: Support RedHat non-RPM packages
  compute/admin_guide/vulnerability_management/prisma_cloud_vulnerability_feed.adoc
  compute/admin_guide/waas/waas_advanced_settings.adoc
Labels: tested, compute-AG, ready-to-be-merged, newton

#1433 [Compute AG]Newton System Requirements
  compute/admin_guide/install/system_requirements.adoc
Labels: tested, compute-AG, newton

#1489 [Compute LookAhead]: Clear messaging of the release
  cspm/rn/prisma-cloud-compute-release-information/look-ahead-planned-updates-prisma-cloud-compute.adoc
Labels: cspm rn, ready-to-be-merged, newton

#1490 [Compute AG: CWP-38685]: Add a note on Docker registry v1 deprecation
  compute/admin_guide/vulnerability_management/registry_scanning/configure_registry_scanning.adoc
Labels: compute-AG, ready-to-be-merged, newton

#1495 [CSPM RN] post-23.8.2 fixes
  cspm/rn/_graphics/rn-workload-defence-update.png
  cspm/rn/_graphics/rn-workload-defense-update.png
  cspm/rn/prisma-cloud-release-information/features-introduced-in-2023/features-introduced-in-august-2023.adoc
Labels: ready-to-be-merged

#1497 [Compute AG][CWP-47465][Newton]Deprecated PodSecurityPolicy note
  compute/admin_guide/install/deploy-defender/orchestrator/orchestrator.adoc
Labels: docs, compute-AG, ready-to-be-merged, newton-update-1

#1496 [Compute AG][CWP-47465][Maxwell Release]Deprecated PodSecurityPolicy note
  compute/admin_guide/install/deploy-defender/orchestrator/orchestrator.adoc
Labels: compute-AG, ready-to-be-merged, maxwell
