Repository PaloAltoNetworks/prisma-cloud-docs, pull requests merged in 2023-07, with the labels that each got.

#1355 [Compute AG]: Fix typos
  compute/admin_guide/access_control/rbac.adoc
  compute/admin_guide/alerts/servicenow_sir.adoc
  compute/admin_guide/alerts/servicenow_vr.adoc
  compute/admin_guide/audit/logging.adoc
  compute/admin_guide/compliance/disa_stig_compliance_checks.adoc
  compute/admin_guide/compliance/manage_compliance.adoc
  compute/admin_guide/compliance/prisma_cloud_compliance_checks.adoc
  compute/admin_guide/compliance/serverless.adoc
  compute/admin_guide/compliance/windows.adoc
  compute/admin_guide/configure/configure_scan_intervals.adoc
  compute/admin_guide/configure/logon_settings.adoc
  compute/admin_guide/continuous_integration/cloudbees_core_pipeline_k8s.adoc
  compute/admin_guide/firewalls/cnnf_self_hosted.adoc
  compute/admin_guide/howto/rolling_upgrade.adoc
  compute/admin_guide/install/deploy-defender/app-embedded/app-embedded.adoc
  compute/admin_guide/install/deploy-defender/host/auto-defend-host.adoc
  compute/admin_guide/install/deploy-defender/serverless/auto_defend_serverless.adoc
  compute/admin_guide/install/deploy-defender/serverless/install_serverless_defender_layer.adoc
  compute/admin_guide/install/deploy-defender/serverless/serverless.adoc
  compute/admin_guide/install/system_requirements.adoc
  compute/admin_guide/runtime_defense/custom_runtime_rules.adoc
  compute/admin_guide/runtime_defense/image_analysis_sandbox.adoc
  compute/admin_guide/runtime_defense/incident_explorer.adoc
  compute/admin_guide/technology_overviews/container_runtimes.adoc
  compute/admin_guide/technology_overviews/serverless_radar.adoc
  compute/admin_guide/technology_overviews/tls_v12_cipher_suites.adoc
  compute/admin_guide/technology_overviews/twistlock_advanced_threat_protection.adoc
  compute/admin_guide/tools/twistcli_scan_iac.adoc.orig
  compute/admin_guide/tools/twistcli_scan_images.adoc
  compute/admin_guide/tools/update_intel_stream_offline.adoc
  compute/admin_guide/vulnerability_management/scan_procedure.adoc
  compute/admin_guide/waas/waas_api_protection.adoc
  compute/admin_guide/waas/waas_dos_protection.adoc
  compute/admin_guide/waas/waas_explorer.adoc
  compute/admin_guide/welcome/product_architecture.adoc
Labels: tested, compute-AG, ready-to-be-merged

#1353 [Maxwell Update 3 LookAhead]: Initial draft
  cspm/rn/_graphics/gitlab-container-registry.png
  cspm/rn/prisma-cloud-compute-release-information/look-ahead-planned-updates-prisma-cloud-compute.adoc
  cspm/rn/prisma-cloud-compute-release-information/prisma-cloud-compute-release-information.adoc
Labels: compute-rn, Maxwell-Update-3

#1341 [Compute AG: Lagrange]: Update K8s memory troubleshooting - ref: CWP-47516
  compute/admin_guide/install/install_kubernetes.adoc
  compute/admin_guide/waas/deploy_waas/deploy_oob_containers.adoc
  compute/admin_guide/waas/deploy_waas/fragments/create-waas-rule.adoc
Labels: tested, ready-to-be-merged, Lagrange

#1189 Wording additions
  code-security/admin_guide/get-started/setup-network-tunnel.adoc
Labels: ready-to-be-merged

#1378 [Compute RN- Maxwell Update 2]: Add blurb for addressed issue - CWP-45391
  compute/rn/_graphics/defender-container-runtime.png
  compute/rn/release-information/release-notes-30-02-update2.adoc
  cspm/rn/_graphics/defender-container-runtime.png
  cspm/rn/prisma-cloud-compute-release-information/features-introduced-in-compute-june-2023.adoc
  cspm/rn/prisma-cloud-compute-release-information/prisma-cloud-compute-known-issues.adoc
Labels: compute-rn, ready-to-be-merged, maxwell-update-2

#1371 CWP-49652: Update registry_post.md for GitLab Container Registry example and details
  api/_topic_map.yml
  api/descriptions/settings/registry_post.md
Labels: compute-api, docs, Maxwell-Update-3

#1359 [CodeSec RN] Fix for 23.7.1
  cspm/rn/prisma-cloud-code-security-release-information/look-ahead-planned-updates-prisma-cloud-code-security.adoc
Labels: tested, ready-to-be-merged

#1376 [Compute AG][CWP-41082]Malware scanning
  compute/admin_guide/_graphics/agentless-gcp-pcee-advanced-settings.png
  compute/admin_guide/agentless-scanning/agentless-scanning-results.adoc
  compute/admin_guide/agentless-scanning/onboard-accounts/configure-aws.adoc
  compute/admin_guide/agentless-scanning/onboard-accounts/configure-azure.adoc
  compute/admin_guide/agentless-scanning/onboard-accounts/configure-gcp.adoc
  compute/admin_guide/agentless-scanning/onboard-accounts/configure-oci.adoc
  compute/admin_guide/agentless-scanning/onboard-accounts/onboard-aws.adoc
  compute/admin_guide/agentless-scanning/onboard-accounts/onboard-azure.adoc
  compute/admin_guide/agentless-scanning/onboard-accounts/onboard-oci.adoc
  compute/admin_guide/book_compute_edition.yml
  compute/admin_guide/book_prisma_cloud.yml
  compute/admin_guide/compliance/compliance_explorer.adoc
  compute/admin_guide/compliance/malware.adoc
Labels: docs, tested, compute-AG, Maxwell-Update-3

#1382 [Compute AG: CWP-49785]: Update Lamda layer support list
  compute/admin_guide/install/deploy-defender/serverless/install_serverless_defender_layer.adoc
  compute/rn/_graphics/defender-container-runtime.png
  compute/rn/release-information/release-notes-30-02-update2.adoc
  cspm/rn/_graphics/defender-container-runtime.png
  cspm/rn/prisma-cloud-compute-release-information/features-introduced-in-compute-june-2023.adoc
  cspm/rn/prisma-cloud-compute-release-information/prisma-cloud-compute-known-issues.adoc
Labels: tested, compute-AG, ready-to-be-merged, Maxwell-Update-3

#1366 [CWP-45960]: Document: Github doesn't support custom CA certificate
  compute/admin_guide/authentication/oauth2_github.adoc
  compute/admin_guide/configure/authenticate_console_with_certs.adoc
Labels: tested, compute-AG, ready-to-be-merged, Maxwell-Update-3

#1360 [Compute AG: CWP-49543]: Add support for Java IBM
  compute/admin_guide/vulnerability_management/prisma_cloud_vulnerability_feed.adoc
Labels: tested, compute-AG, ready-to-be-merged, Maxwell-Update-3

#1356 [Compute AG: CWP-47358]: Add `purl` flag to `twistcli`
  compute/admin_guide/install/deploy-defender/orchestrator/install_kubernetes_cri.adoc
  compute/admin_guide/tools/twistcli_scan_images.adoc
  compute/admin_guide/vulnerability_management/registry_scanning/scan_artifactory.adoc
Labels: docs, tested, compute-AG, ready-to-be-merged, Maxwell-Update-3

#1362 [Compute AG: CWP-44490]: Increase the registry scan limit
  compute/admin_guide/deployment_patterns/caps.adoc
Labels: tested, compute-AG, ready-to-be-merged, Maxwell-Update-3

#1337 [Compute AG: CWP-49332]: Change the place of the note under base image doc
  compute/admin_guide/_graphics/image-scan-reports.png
  compute/admin_guide/_graphics/image_scan_reports_vendor_status.png
  compute/admin_guide/vulnerability_management/base_images.adoc
  compute/admin_guide/vulnerability_management/scan_reports.adoc
Labels: compute-AG, ready-to-be-merged, Maxwell-Update-3

#1328 [Compute AG]: Reduce the image size for container-runtime UI
  compute/admin_guide/vulnerability_management/registry_scanning/scan_artifactory.adoc
Labels: tested, compute-AG, ready-to-be-merged, Maxwell-Update-3

#1385 [CSPM RN and AG] - July 14th Publish for 23.7.2 release
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-gcp/prerequisites-to-onboard-gcp.adoc
  cspm/admin-guide/prisma-cloud-compliance/compliance-dashboard.adoc
  cspm/rn/_graphics/asset-level-scan-1.png
  cspm/rn/prisma-cloud-release-information/features-introduced-in-2023/features-introduced-in-july-2023.adoc
  cspm/rn/prisma-cloud-release-information/known-issues.adoc
  cspm/rn/prisma-cloud-release-information/limited-ga-features-prisma-cloud.adoc
  cspm/rn/prisma-cloud-release-information/look-ahead-planned-updates-prisma-cloud.adoc
Labels: docs, tested, cspm rn, ready-to-be-merged

#1373 [Compute RN: Maxwell Update 3 PCEE]: Release Notes Blurbs
  cspm/rn/_graphics/cve-viewer-purl-filter.png
  cspm/rn/book.yml
  cspm/rn/prisma-cloud-compute-release-information/features-introduced-in-compute-july-2023.adoc
  cspm/rn/prisma-cloud-compute-release-information/look-ahead-planned-updates-prisma-cloud-compute.adoc
  cspm/rn/prisma-cloud-compute-release-information/prisma-cloud-compute-known-issues.adoc
  cspm/rn/prisma-cloud-compute-release-information/prisma-cloud-compute-release-information.adoc
Labels: do-not-merge, compute-rn, Maxwell-Update-3

#1357 [Compute AG][Agentless]Separate agentless permissions
  compute/admin_guide/configure/permissions.adoc
Labels: docs, tested, compute-AG, ready-to-be-merged

#1269 [CWP-48563]: Update info on scanning large registries
  compute/admin_guide/vulnerability_management/registry_scanning/configure_registry_scanning.adoc
Labels: compute-AG, ready-to-be-merged, Maxwell-Update-3

#1377 [Compute AG][CWP-48291]Parallel Agentless scanning
  compute/admin_guide/agentless-scanning/agentless-scanning-modes.adoc
  compute/admin_guide/agentless-scanning/agentless-scanning.adoc
Labels: docs, tested, compute-AG, ready-to-be-merged, Maxwell-Update-3

#1391 Update configure-gcp.adoc
  compute/admin_guide/agentless-scanning/onboard-accounts/configure-gcp.adoc
Labels: docs, feedback-slack, tested, compute-AG, ready-to-be-merged, Maxwell-Update-3

#1392 [Compute RN][PCEE] Implement feedback
  cspm/rn/prisma-cloud-compute-release-information/features-introduced-in-compute-july-2023.adoc
Labels: feedback-slack, tested, compute-rn, ready-to-be-merged, Maxwell-Update-3

#1393 CWP-49652: Correction to Update registry_post.md
  api/descriptions/settings/registry_post.md
Labels: bug, compute-api

#1375 [Compute RN: Maxwell Update 3 PCCE]: Blurbs included
  compute/rn/_graphics/cve-viewer-purl-filter.png
  compute/rn/book.yml
  compute/rn/book_point_release.yml
  compute/rn/release-information/release-notes-30-03-update3.adoc
Labels: compute-rn, Maxwell-Update-3

#1379 Update deployment_app_embedded.adoc
  compute/admin_guide/waas/deploy_waas/deploy_oob_hosts.adoc
  compute/admin_guide/waas/deploy_waas/deployment_app_embedded.adoc
  compute/admin_guide/waas/deploy_waas/fragments/add-app-policy.adoc
  compute/admin_guide/waas/deploy_waas/fragments/create-waas-rule.adoc
Labels: tested, compute-AG, Maxwell-Update-3

#1396 [Compute AG]Add Windows Server 2022 Defender functionality
  compute/admin_guide/install/deploy-defender/host/windows-host.adoc
Labels: docs, feedback-slack, tested, compute-AG, ready-to-be-merged

#1399 [Compute AG: CWP-49515]: Clarify not to use http or https in hostnames
  compute/admin_guide/waas/waas_advanced_settings.adoc
Labels: docs, tested, compute-AG

#1408 Update troubleshoot_vuln_detection.adoc
  compute/admin_guide/_graphics/troubleshooting_scan_reports_unactionable_vulns.png
  compute/admin_guide/vulnerability_management/troubleshoot_vuln_detection.adoc
Labels: tested, compute-AG, ready-to-be-merged

#1418 [CSPM AG]: Fix from Style guides
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-aws/configure-dns-logs.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-aws/configure-flow-logs.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-aws-account/enable-dns-logs-ingestion.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-aws-account/enable-flow-logs-for-amazon-s3.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-azure-account/authorize-prisma-cloud.adoc
  cspm/admin-guide/get-started-with-prisma-cloud/prisma-cloud-first-look.adoc
  cspm/admin-guide/get-started-with-prisma-cloud/prisma-cloud-licenses.adoc
  cspm/admin-guide/prisma-cloud-policies/anomaly-policies.adoc
Labels: cspm ag, ready-to-be-merged

#1417 [CSPM AG] 23.8.1 updates
  cspm/admin-guide/_graphics/anomaly-policies-identity-settings.png
  cspm/admin-guide/_graphics/anomaly-policies-network-settings.png
  cspm/admin-guide/_graphics/anomaly-policies-ueba-settings-1.png
  cspm/admin-guide/manage-prisma-cloud-administrators/define-prisma-cloud-enterprise-settings.adoc
  cspm/admin-guide/prisma-cloud-policies/anomaly-policies.adoc
Labels: tested, cspm ag, ready-to-be-merged

#1415 [Compute Look Ahead]Add Newton information
  cspm/rn/prisma-cloud-compute-release-information/look-ahead-planned-updates-prisma-cloud-compute.adoc
Labels: tested, compute-rn, newton

#1424 [Compute AG]Agentless Scanning Concept Enhancement
  compute/admin_guide/_graphics/agentless-scanning-hub-account-mode.png
  compute/admin_guide/_graphics/agentless-scanning-max-number-of-scanners.png
  compute/admin_guide/_graphics/agentless-scanning-same-account-mode.png
  compute/admin_guide/agentless-scanning/agentless-scanning-modes.adoc
  compute/admin_guide/agentless-scanning/agentless-scanning.adoc
  compute/admin_guide/waas/waas_advanced_settings.adoc
Labels: docs, tested, compute-AG, ready-to-be-merged, newton
