Repository PaloAltoNetworks/prisma-cloud-docs, pull requests merged in 2023-01, with the labels that each got.

#771 [CSPM AG] RLP-86467
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-aws-account/add-aws-cloud-account-to-prisma-cloud.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-aws-account/add-aws-member-accounts-to-prisma-cloud.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-aws-account/add-aws-organization-to-prisma-cloud.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-aws-account/enable-dns-logs-ingestion.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-aws-account/set-up-your-prisma-cloud-role-for-aws-manual.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-aws-account/update-an-onboarded-aws-account.adoc
Labels: cspm ag

#763 [Compute AG]: Fix syntax error in JFrog Artifactory adoc file
  compute/admin_guide/vulnerability_management/registry_scanning/scan_artifactory.adoc
Labels: docs, tested, compute-AG

#752 [Compute RN]: Add known issue from PCSUP-12197
  compute/rn/release-information/known-issues-22-12.adoc
Labels: do-not-merge, compute-rn

#789 [Compute AG] Remove links to the Twistlock CDN
  compute/admin_guide/audit/event_viewer.adoc
  compute/admin_guide/continuous_integration/jenkins_plugin.adoc
  compute/admin_guide/vulnerability_management/google_cloud_container_builder.adoc
Labels: tested

#796 [CodeSec AG] Update to TF RunTasks (RLP-89017)
  code-security/admin_guide/_graphics/tf-run-3.png
  code-security/admin_guide/_graphics/tf-run-4.png
  code-security/admin_guide/_graphics/tf-run-6.png
  code-security/admin_guide/_graphics/tf-run-7.png
  code-security/admin_guide/get-started/connect-your-repositories/add-terraform-run-tasks.adoc
Labels: tested

#794 [CSPM AG] aws onboarding and pcds updates for 23.1.1
  cspm/admin-guide/_graphics/add-aws-on-prisma-cloud-2-1.png
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/cloud-account-onboarding.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-aws-account/add-aws-cloud-account-to-prisma-cloud.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-aws-account/add-aws-member-accounts-to-prisma-cloud.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-aws-account/add-aws-organization-to-prisma-cloud.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-aws-account/enable-dns-logs-ingestion.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-aws-account/enable-flow-logs-for-amazon-s3.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-aws-account/onboard-your-aws-account.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-aws-account/update-an-onboarded-aws-account.adoc
  cspm/admin-guide/manage-prisma-cloud-administrators/create-account-groups.adoc
  cspm/admin-guide/manage-prisma-cloud-alerts/prisma-cloud-alert-notifications.adoc
  cspm/admin-guide/prisma-cloud-data-security/monitor-data-security-scan-prisma-cloud/supported-file-extensions.adoc
Labels: tested, cspm ag, ready-to-be-merged

#788 Updates for PCSUP-12932 and RLP-88461
  cspm/rql-reference/rql-reference/iam-query/iam-query-attributes.adoc
  cspm/rql-reference/rql-reference/rql-faqs.adoc
Labels: docs, tested, cspm rql, ready-to-be-merged

#775 [Compute SaaS RN]: Remove Oct/Nov 2021 RN
  cspm/rn/book.yml
  cspm/rn/prisma-cloud-compute-release-information/features-introduced-in-compute-november-2021.adoc
  cspm/rn/prisma-cloud-compute-release-information/features-introduced-in-compute-october-2021.adoc
  cspm/rn/prisma-cloud-release-information/features-introduced-in-2021/features-introduced-in-october-2021.adoc
Labels: tested, cspm rn, compute-rn

#786 [Compute AG - CWP-44702]:Update HTTP errors section
  compute/admin_guide/waas/deploy_waas/deployment_troubleshooting.adoc
Labels: tested, compute-AG, ready-to-be-merged

#799 Codesec tf runtasks update
  code-security/admin_guide/_graphics/tf-run-5.png
  code-security/admin_guide/get-started/connect-your-repositories/add-terraform-run-tasks.adoc
Labels: tested

#800 [CodeSec AG] Add Terraform Enterprise (Run Tasks) RLP-87329
  code-security/admin_guide/_graphics/tfe-runtasks-1.png
  code-security/admin_guide/_graphics/tfe-runtasks-2.png
  code-security/admin_guide/_graphics/tfe-runtasks-3.png
  code-security/admin_guide/_graphics/tfe-runtasks-4.png
  code-security/admin_guide/_graphics/tfe-runtasks-5.png
  code-security/admin_guide/_graphics/tfe-runtasks.png
  code-security/admin_guide/book.yml
  code-security/admin_guide/get-started/connect-your-repositories/add-terraform-enterprise-run-tasks.adoc
  code-security/admin_guide/get-started/connect-your-repositories/connect-your-repositories.adoc
Labels: tested

#773 PCSUP-13302: Update note for unsupported query parameters
  api/descriptions/hosts/download_get.md
Labels: bug, compute-api, docs

#774 CWP-41281: ARM64-OSX twistcli binary
  api/_topic_map.yml
  api/descriptions/util/osx_twistcli_arm64_get.md
  compute/admin_guide/tools/twistcli.adoc
Labels: compute-api, docs

#749 [Compute AG - LagrangeUpdate1]: Update Compliance checks
  compute/admin_guide/compliance/prisma_cloud_compliance_checks.adoc
Labels: docs, tested, compute-AG, ready-to-be-merged

#750 [Compute AG - LagrangeUpdate1]: Update label to Observer Instance Type
  compute/admin_guide/_graphics/create-vpc-configuration.png
  compute/admin_guide/_graphics/vpc-configuration.png
  compute/admin_guide/waas/deploy_waas/deployment_vpc_mirroring.adoc
Labels: tested, compute-AG, ready-to-be-merged

#756 [Compute AG]: Add conditional directives for release page
  compute/admin_guide/install/install-ack.adoc
Labels: tested, compute-AG

#757 [Lagrange Update1 - Compute AG]: CWP-42473 - WAAS
  compute/admin_guide/_graphics/add-an-app-vpc-traffic-mirroring.png
  compute/admin_guide/_graphics/cnaf_import_swagger.png
  compute/admin_guide/_graphics/cwp-42473-add-app-policy.png
  compute/admin_guide/_graphics/cwp-42473-add-app-waas-port-windows.png
  compute/admin_guide/_graphics/waas-inline-app-embedded-tls.png
  compute/admin_guide/_graphics/waas-oob-tls.png
  compute/admin_guide/_graphics/waas_deployment_types_host.png
  compute/admin_guide/_graphics/waas_firewall_protections_with_banner.png
  compute/admin_guide/_graphics/waas_out_of_band_rule_overview.png
  compute/admin_guide/_graphics/waas_tls_settings_detailed.png
  compute/admin_guide/waas/deploy_waas/deployment_app_embedded.adoc
  compute/admin_guide/waas/deploy_waas/deployment_containers.adoc
  compute/admin_guide/waas/deploy_waas/deployment_hosts.adoc
  compute/admin_guide/waas/deploy_waas/deployment_out_of_band.adoc
  compute/admin_guide/waas/deploy_waas/deployment_vpc_mirroring.adoc
  compute/admin_guide/waas/deploy_waas/fragments/add-app-policy.adoc
  compute/admin_guide/waas/out_of_band.adoc
Labels: tested, compute-AG

#765 [Compute AG - CWP-42642-42645]: WAAS Sensitive data + API discovery
  compute/admin_guide/_graphics/cwp-42645-waas-sensitive-data-new-rule.png
  compute/admin_guide/_graphics/waas_log_scrubbing_new_rule_dialog.png
  compute/admin_guide/waas/log_scrubbing.adoc
  compute/admin_guide/waas/waas_api_observation.adoc
Labels: tested, compute-AG

#780 [Compute AG: CWP-42222]: Update VPC troubleshooting
  compute/admin_guide/book_compute_edition.yml
  compute/admin_guide/waas/deploy_waas/deployment_troubleshooting.adoc
  compute/admin_guide/waas/deploy_waas/deployment_vpc_mirroring.adoc
  compute/admin_guide/waas/deploy_waas/fragments/defender-deployment-failed-troubleshoot.adoc
Labels: tested, compute-AG, ready-to-be-merged

#806 [Compute AG]: Fix typos in the welcome section
  compute/admin_guide/welcome/product_architecture.adoc
  compute/admin_guide/welcome/releases.adoc
  compute/admin_guide/welcome/support_lifecycle.adoc
Labels: compute-AG

#805 [Compute AG: PCSUP-13010]: Update Collections limitation
  compute/admin_guide/_graphics/collections_792004.png
  compute/admin_guide/_graphics/collections_792010.png
  compute/admin_guide/_graphics/collections_dropdown_list.png
  compute/admin_guide/_graphics/collections_specify_filter.png
  compute/admin_guide/configure/collections.adoc
Labels: tested, compute-AG

#797 [Compute AG] Update Agentless Onboarding for PCEE
  compute/admin_guide/_graphics/agentless-aws-pcee-advanced-settings.png
  compute/admin_guide/_graphics/agentless-aws-pcee-configure-account.png
  compute/admin_guide/_graphics/agentless-aws-pcee-get-started.png
  compute/admin_guide/_graphics/agentless-azure-pcee-account-details.png
  compute/admin_guide/_graphics/agentless-azure-pcee-add-account.png
  compute/admin_guide/_graphics/agentless-azure-pcee-configure-account.png
  compute/admin_guide/_graphics/agentless-azure-pcee-get-started.png
  compute/admin_guide/_graphics/agentless-cloud-providers.png
  compute/admin_guide/_graphics/agentless-gcp-account-config.png
  compute/admin_guide/_graphics/agentless-gcp-advanced-settings.png
  compute/admin_guide/_graphics/agentless-gcp-more-menu.png
  compute/admin_guide/_graphics/agentless-gcp-pcee-account-details.png
  compute/admin_guide/_graphics/agentless-gcp-pcee-advanced-settings.png
  compute/admin_guide/_graphics/agentless-gcp-pcee-configure-account.png
  compute/admin_guide/_graphics/agentless-gcp-pcee-get-started.png
  compute/admin_guide/_graphics/agentless-pcee-assign-groups.png
  compute/admin_guide/_graphics/agentless-pcee-security-capabilities.png
  compute/admin_guide/agentless-scanning/agentless-scanning-results.adoc
  compute/admin_guide/agentless-scanning/agentless-scanning.adoc
  compute/admin_guide/agentless-scanning/onboard-accounts/frag_start-agentless-scan.adoc
  compute/admin_guide/agentless-scanning/onboard-accounts/onboard-accounts.adoc
  compute/admin_guide/agentless-scanning/onboard-accounts/onboard-aws.adoc
  compute/admin_guide/agentless-scanning/onboard-accounts/onboard-azure.adoc
  compute/admin_guide/agentless-scanning/onboard-accounts/onboard-gcp.adoc
  compute/admin_guide/agentless-scanning/onboard-accounts/onboard-oci.adoc
Labels: docs, compute-AG

#819 [CSMP AG] AWS Onboarding updates post-23.1.1 for Sec Perms
  cspm/admin-guide/_graphics/add-aws-account-groups-2.png
  cspm/admin-guide/_graphics/add-aws-on-prisma-cloud-1-2.png
  cspm/admin-guide/_graphics/add-aws-on-prisma-cloud-1.png
  cspm/admin-guide/_graphics/add-aws-on-prisma-cloud-2-old2.png
  cspm/admin-guide/_graphics/add-aws-on-prisma-cloud-2.png
  cspm/admin-guide/_graphics/add-aws-on-prisma-cloud-3.png
  cspm/admin-guide/_graphics/add-aws-org-on-prisma-cloud-1-1.png
  cspm/admin-guide/_graphics/aws-accnt-to-org-1-updated.png
  cspm/admin-guide/_graphics/pcds-aws-account-1.png
  cspm/admin-guide/_graphics/pcds-aws-account-2.png
  cspm/admin-guide/_graphics/pcds-aws-account-3.png
  cspm/admin-guide/_graphics/pcds-aws-account-4.png
  cspm/admin-guide/_graphics/pcds-aws-account-5.png
  cspm/admin-guide/_graphics/pcds-aws-account-6.png
  cspm/admin-guide/_graphics/pcds-aws-account-7.png
  cspm/admin-guide/_graphics/pcds-aws-account-8.png
  cspm/admin-guide/_graphics/pcds-aws-account-9.png
  cspm/admin-guide/_graphics/pcds-aws-org-1.png
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-aws-account/add-aws-cloud-account-to-prisma-cloud.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-aws-account/add-aws-member-accounts-to-prisma-cloud.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-aws-account/add-aws-organization-to-prisma-cloud.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-aws-account/enable-dns-logs-ingestion.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-aws-account/enable-flow-logs-for-amazon-s3.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-aws-account/onboard-your-aws-account.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-aws-account/prisma-cloud-on-aws-china.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-aws-account/set-up-your-prisma-cloud-role-for-aws-manual.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-aws-account/update-an-onboarded-aws-account.adoc
  cspm/admin-guide/prisma-cloud-data-security/enable-data-security-module/add-a-new-aws-account.adoc
  cspm/admin-guide/prisma-cloud-data-security/enable-data-security-module/enable-data-security-module.adoc
  cspm/admin-guide/prisma-cloud-data-security/enable-data-security-module/get-started.adoc
  cspm/admin-guide/prisma-cloud-data-security/monitor-data-security-scan-prisma-cloud/supported-file-extensions.adoc
  cspm/admin-guide/prisma-cloud-data-security/prisma-cloud-data-security.adoc
  cspm/admin-guide/prisma-cloud-data-security/what-is-included-with-prisma-cloud-data-security.adoc
  cspm/rn/_graphics/aws-create-iam-role-1.png
  cspm/rn/_graphics/aws-quick-create-stack-1.png
  cspm/rn/_graphics/onboard-old-monitor-protect.png
  cspm/rn/_graphics/onboard-sec-perms-1.png
  cspm/rn/_graphics/onboard-sec-perms-2.png
  cspm/rn/_graphics/onboard-sec-perms-remediation.png
  cspm/rn/prisma-cloud-release-information/features-introduced-in-2023/features-introduced-in-january-2023.adoc
Labels: ready-to-be-merged

#817 [Compute AG: PCSUP-12511]: Add a note on package in use risk-factor
  compute/admin_guide/vulnerability_management/vuln_explorer.adoc
Labels: tested, compute-AG, ready-to-be-merged

#815 [Compute AG: CWP-32915]: Update Alert mechanisms
  compute/admin_guide/_graphics/aws_security_hub_config.png
  compute/admin_guide/_graphics/cortex-xdr-config-triggers.png
  compute/admin_guide/_graphics/cortex_xdr_config.png
  compute/admin_guide/_graphics/cortex_xsoar_config.png
  compute/admin_guide/_graphics/email-config-1.png
  compute/admin_guide/_graphics/frag_config_triggers.png
  compute/admin_guide/_graphics/frag_configure_alerts.png
  compute/admin_guide/_graphics/slack-config-1.png
  compute/admin_guide/_graphics/slack-config-2.png
  compute/admin_guide/alerts/aws_security_hub.adoc
  compute/admin_guide/alerts/email.adoc
  compute/admin_guide/alerts/frag_config_rate.adoc
  compute/admin_guide/alerts/frag_config_triggers.adoc
  compute/admin_guide/alerts/frag_send_alerts.adoc
  compute/admin_guide/alerts/servicenow_sir.adoc
  compute/admin_guide/alerts/servicenow_vr.adoc
  compute/admin_guide/alerts/slack.adoc
  compute/admin_guide/alerts/xdr.adoc
  compute/admin_guide/alerts/xsoar.adoc
Labels: tested, compute-AG, ready-to-be-merged

#814 [Compute AG - CWP-42646]: Update for OWASP Top-10
  compute/admin_guide/_graphics/waas-api-discovery-sidecar1.png
  compute/admin_guide/_graphics/waas-api-discovery.png
  compute/admin_guide/_graphics/waas_explorer_overview.png
  compute/admin_guide/_graphics/waas_explorer_waas_overview.png
  compute/admin_guide/_graphics/waas_explorer_web_protection_coverage.png
  compute/admin_guide/book_compute_edition.yml
  compute/admin_guide/book_prisma_cloud.yml
  compute/admin_guide/waas/waas_api_discovery.adoc
  compute/admin_guide/waas/waas_explorer.adoc
Labels: tested, compute-AG, ready-to-be-merged

#813 [Compute AG]: Version number update in Admin Guide
  compute/admin_guide/vulnerability_management/registry_scanning/scan_artifactory.adoc
  compute/admin_guide/waas/log_scrubbing.adoc
Labels: tested, compute-AG, ready-to-be-merged

#821 [Compute AG] Update System Requirements for Lagrange Update 1
  compute/admin_guide/install/system_requirements.adoc
Labels: docs, compute-AG

#758 [Compute AG: LagrangeUpdate1] Update for CWP-42673
  compute/admin_guide/waas/deploy_waas/deployment_vpc_mirroring.adoc
Labels: docs, tested, compute-AG, ready-to-be-merged

#767 [Compute On-prem RN - LagrangeUpdate1]: Initial draft for RN blurbs
  compute/rn/_graphics/cwp-42645-waas-sensitive-data-new-rule.png
  compute/rn/_graphics/rn-41227-serverless-audits.png
  compute/rn/_graphics/rn-42646-waas_explorer_overview.png
  compute/rn/book.yml
  compute/rn/book_point_release.yml
  compute/rn/release-information/known-issues-22-12.adoc
  compute/rn/release-information/release-notes-22-12-update1.adoc
Labels: tested, compute-rn

#778 [PCEE RN] Lagrange Update 1
  compute/admin_guide/configure/proxy.adoc
  cspm/rn/book.yml
  cspm/rn/prisma-cloud-compute-release-information/features-introduced-in-compute-january-2023.adoc
  cspm/rn/prisma-cloud-compute-release-information/look-ahead-planned-updates-prisma-cloud-compute.adoc
  cspm/rn/prisma-cloud-compute-release-information/prisma-cloud-compute-known-issues.adoc
  cspm/rn/prisma-cloud-compute-release-information/prisma-cloud-compute-release-information.adoc
Labels: tested, compute-rn

#824 [Compute AG]: Fix invalid xrefs
  compute/admin_guide/secrets/secrets_stores/azure_key_vault.adoc
  compute/admin_guide/vulnerability_management/registry_scanning/scan_acr.adoc
  compute/admin_guide/vulnerability_management/vm_image_scanning.adoc
Labels: compute-AG

#816 [CodeSec AG] Update image in Jenkins [PCSUP-13507]
  code-security/admin_guide/_graphics/jenkins-3.png
  code-security/admin_guide/get-started/connect-your-repositories/add-jenkins.adoc
Labels: tested

#827 Compute AG - fix build errors
  compute/admin_guide/alerts/frag_config_triggers.adoc
  compute/admin_guide/vulnerability_management/detect_vulns_unpackaged_software.adoc
  compute/admin_guide/vulnerability_management/prisma_cloud_vulnerability_feed.adoc
  compute/admin_guide/waas/deploy_waas/deployment_troubleshooting.adoc
  compute/admin_guide/waas/deploy_waas/fragments/defender-deployment-failed-troubleshoot.adoc
  compute/admin_guide/waas/waas_advanced_settings.adoc
  compute/admin_guide/waas/waas_analytics.adoc
  compute/admin_guide/waas/waas_bot_protection.adoc
  compute/admin_guide/waas/waas_custom_rules.adoc
  cspm/rn/prisma-cloud-compute-release-information/features-introduced-in-compute-january-2023.adoc
Labels: tested, compute-AG

#828 Move the tag exception note
  compute/admin_guide/configure/tags.adoc
  compute/admin_guide/vulnerability_management/scan_reports.adoc
Labels: compute-AG

#829 [Compute AG - GH#787]: Update 411 package type
  compute/admin_guide/vulnerability_management/scan_reports.adoc
Labels: compute-AG

#830 [Compute AG] Update resource classes diagram
  compute/admin_guide/_graphics/getting-started-resource-classes.png
  compute/admin_guide/_graphics/getting_started_resource_classes.png
  compute/admin_guide/_graphics/pcee_vs_pcce_overview.png
  compute/admin_guide/install/getting_started.adoc
Labels: docs, compute-AG

#831 [Compute AG] Condition cross-references to cloud onboarding.
  compute/admin_guide/secrets/secrets_stores/azure_key_vault.adoc
  compute/admin_guide/vulnerability_management/registry_scanning/scan_acr.adoc
  compute/admin_guide/vulnerability_management/serverless_functions.adoc
  compute/admin_guide/vulnerability_management/vm_image_scanning.adoc
Labels: docs, tested, compute-AG

#834 [CSPM AG] Adoption Advisor Recurring Scheduled Reports
  cspm/admin-guide/_graphics/aa-create-report.png
  cspm/admin-guide/_graphics/aa-create-view-manage-report.png
  cspm/admin-guide/_graphics/adoption-advisor-click.png
  cspm/admin-guide/manage-prisma-cloud-administrators/adoption-advisor.adoc
Labels: tested, cspm ag

#841 [CSM AG] 23.1.2 AG updates
  cspm/admin-guide/_graphics/audit-log-to-integration.png
  cspm/admin-guide/book.yml
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-azure-account/add-azure-active-directory-on-prisma-cloud.adoc
  cspm/admin-guide/get-started-with-prisma-cloud/prisma-cloud-licenses.adoc
  cspm/admin-guide/manage-prisma-cloud-administrators/define-prisma-cloud-enterprise-settings.adoc
  cspm/admin-guide/manage-prisma-cloud-alerts/create-an-alert-rule.adoc
  cspm/admin-guide/prisma-cloud-dashboards/command-center-dashboard.adoc
  cspm/admin-guide/prisma-cloud-iam-security/integrate-prisma-cloud-with-aws-id-center.adoc
  cspm/admin-guide/prisma-cloud-iam-security/integrate-prisma-cloud-with-idp-services.adoc
Labels: tested, cspm ag

#820 [CodeSec AG] Add supported languages for IaC scans [RLP-86594]
  code-security/admin_guide/book.yml
  code-security/admin_guide/get-started/supported-languages-for-specific-domains.adoc
Labels: do-not-merge, tested

#837 [Compute AG: CWP-31292]: Add a note on Matrix project support
  compute/admin_guide/continuous_integration/jenkins_plugin.adoc
Labels: tested, compute-AG

#812 [CSPM AG] Integration Updates for 23.1.2
  cspm/admin-guide/_graphics/demisto-api-end-mapping.png
  cspm/admin-guide/_graphics/demisto-integration-path.png
  cspm/admin-guide/_graphics/demisto-integration-prisma-cloud-alerts.png
  cspm/admin-guide/_graphics/demisto-integration-prisma-cloud-incident-playbooks.png
  cspm/admin-guide/_graphics/demisto-integration-pull-based-prisma-cloud.png
  cspm/admin-guide/_graphics/demisto-optional-add-integration.png
  cspm/admin-guide/_graphics/demisto-prisma-classifier.png
  cspm/admin-guide/_graphics/demisto-send-alert-notification.png
  cspm/admin-guide/_graphics/securityhub-alert-rules-notification.png
  cspm/admin-guide/_graphics/securityhub-createrole-user.png
  cspm/admin-guide/_graphics/securityhub-enabled-prisma-cloud.png
  cspm/admin-guide/_graphics/securityhub-grant-permissions.png
  cspm/admin-guide/configure-external-integrations-on-prisma-cloud/integrate-prisma-cloud-with-aws-security-hub.adoc
  cspm/admin-guide/configure-external-integrations-on-prisma-cloud/integrate-prisma-cloud-with-demisto.adoc
  cspm/admin-guide/configure-external-integrations-on-prisma-cloud/integrate-prisma-cloud-with-jira.adoc
  cspm/admin-guide/configure-external-integrations-on-prisma-cloud/integrate-prisma-cloud-with-splunk.adoc
  cspm/admin-guide/configure-external-integrations-on-prisma-cloud/integrate-prisma-cloud-with-webhooks.adoc
  cspm/admin-guide/manage-prisma-cloud-alerts/send-prisma-cloud-alert-notifications-to-third-party-tools.adoc
Labels: docs, tested, cspm ag

#843 [Compute AG] Remove specific maintenance release for GKE
  compute/admin_guide/install/system_requirements.adoc
Labels: docs, tested, compute-AG
