Repository PaloAltoNetworks/prisma-cloud-docs, pull requests merged in 2023-03, with the labels that each got.

#961 [Compute AG:Usabilla]:Fix anchors in Serverless Defender TOC
  compute/admin_guide/install/install_defender/install_serverless_defender.adoc
Labels: compute-AG

#939 [Compute AG]: Update Prisma.pan.dev references to Pan.dev
  compute/admin_guide/api/api.adoc
  compute/admin_guide/audit/audit_admin_activity.adoc
  compute/admin_guide/audit/delete_audit_logs.adoc
  compute/admin_guide/audit/event_viewer.adoc
  compute/admin_guide/authentication/oidc.adoc
  compute/admin_guide/configure/logon_settings.adoc
  compute/admin_guide/continuous_integration/jenkins_plugin.adoc
  compute/admin_guide/tools/twistcli_scan_images.adoc
  compute/admin_guide/vulnerability_management/registry_scanning/configure_registry_scanning.adoc
  compute/admin_guide/vulnerability_management/risk_tree.adoc
  compute/admin_guide/welcome/support_lifecycle.adoc
  compute/admin_guide/welcome/upcoming_support_lifecycle_changes.adoc
Labels: compute-AG

#962 Append the sudo command to twistcli
  compute/admin_guide/runtime_defense/image_analysis_sandbox.adoc
  compute/admin_guide/tools/twistcli.adoc
Labels: tested, compute-AG

#958 [CSPM AG]Update manage-your-prisma-cloud-profile.adoc
  cspm/admin-guide/_graphics/update-profile-1.png
  cspm/admin-guide/manage-prisma-cloud-administrators/manage-your-prisma-cloud-profile.adoc
Labels: cspm ag

#973 [Compute RN PCCE - LagrangeUpdate2HotFix] Build 22.12.585
  compute/rn/book.yml
  compute/rn/book_point_release.yml
  compute/rn/release-information/release-notes-22-12-update2-build-22-12-585.adoc
Labels: compute-rn, ready-to-be-merged

#990 [CodeSec AG] Audit Logs and Permissions [RLP-93436, RLP-93437]
  code-security/admin_guide/book.yml
  code-security/admin_guide/get-started/setup-administrator-access.adoc
  code-security/admin_guide/scan-monitor/monitor-fix-issues-in-scan/monitor-fix-issues-in-scan.adoc
  cspm/admin-guide/manage-prisma-cloud-administrators/view-audit-logs.adoc
Labels: tested, ready-to-be-merged

#981 [CodeSec RN] March 23.3.1
  cspm/rn/_graphics/codesec-rn-2-23.3.1.png
  cspm/rn/_graphics/codesec-rn-23.3.1.png
  cspm/rn/book.yml
  cspm/rn/prisma-cloud-code-security-release-information/features-introduced-in-code-security-2023/features-introduced-in-code-security-2023.adoc
  cspm/rn/prisma-cloud-code-security-release-information/features-introduced-in-code-security-2023/features-introduced-in-code-security-march-2023.adoc
Labels: tested, cspm rn, ready-to-be-merged

#978 [CodeSec AG] Update Enforcement Parameters Definition [RLP-95079]
  code-security/admin_guide/scan-monitor/development-pipelines/enforcement.adoc
Labels: tested, ready-to-be-merged

#976 [CodeSec AG] Update line to indicate single support for TF [RLP-95052]
  code-security/admin_guide/_graphics/tf-enterprise-10.png
  code-security/admin_guide/_graphics/tf-enterprise-13.png
  code-security/admin_guide/get-started/connect-your-repositories/add-terraform-enterprise-run-tasks.adoc
  code-security/admin_guide/get-started/connect-your-repositories/add-terraform-enterprise.adoc
  code-security/admin_guide/get-started/connect-your-repositories/add-terraform-run-tasks.adoc
Labels: tested, ready-to-be-merged

#979 [Compute AG: pcsup-14499]: Clarify the scanned packages info
  compute/admin_guide/vulnerability_management/scan_procedure.adoc
Labels: compute-AG, ready-to-be-merged

#971 [Compute AG]: Fix anchor links in TOC
  compute/admin_guide/install/install_defender/install_serverless_defender.adoc
  compute/admin_guide/install/system_requirements.adoc
  compute/admin_guide/upgrade/upgrade_onebox.adoc
  compute/rn/release-information/release-notes-22-12.adoc
Labels: tested, compute-AG, ready-to-be-merged

#970 [Compute AG: CWP-46099]: Add a note on disabled Block effect
  compute/admin_guide/compliance/manage_compliance.adoc
Labels: tested, compute-AG, ready-to-be-merged

#968 [Compute AG: CWP-43044]: Fix images/commands for twistcli image scan
  compute/admin_guide/_graphics/detailed_scan.png
  compute/admin_guide/_graphics/simple_scan.png
  compute/admin_guide/tools/twistcli_scan_images.adoc
Labels: tested, compute-AG, ready-to-be-merged

#969 [CodeSec AG] Git Issue- Update Links [RLP-94892]
  code-security/admin_guide/get-started/connect-your-repositories/connect-vscode.adoc
  code-security/admin_guide/get-started/generate-access-keys.adoc
Labels: tested, ready-to-be-merged

#929 [Compute AG: WAAS] Split the OOB pages for container and host
  compute/admin_guide/_graphics/waas_define_collection_oob_hosts.png
  compute/admin_guide/book_compute_edition.yml
  compute/admin_guide/book_prisma_cloud.yml
  compute/admin_guide/waas/deploy_waas/deploy_oob_containers.adoc
  compute/admin_guide/waas/deploy_waas/deploy_oob_hosts.adoc
  compute/admin_guide/waas/deploy_waas/deployment_containers.adoc
  compute/admin_guide/waas/deploy_waas/deployment_hosts.adoc
  compute/admin_guide/waas/deploy_waas/deployment_out_of_band.adoc
  compute/admin_guide/waas/deploy_waas/deployment_vpc_mirroring.adoc
  compute/admin_guide/waas/deploy_waas/fragments/add-app-policy.adoc
  compute/admin_guide/waas/deploy_waas/fragments/create-waas-rule.adoc
  compute/admin_guide/waas/waas-intro.adoc
  compute/rn/release-information/release-notes-22-12.adoc
  cspm/rn/prisma-cloud-compute-release-information/features-introduced-in-compute-january-2023.adoc
Labels: tested, compute-AG, ready-to-be-merged

#991 [Compute RN] Remove incorrect Backwards Compatibility entry
  cspm/rn/prisma-cloud-compute-release-information/features-introduced-in-compute-february-2023.adoc
Labels: docs, tested, compute-rn, ready-to-be-merged

#992 [CSPM AG] 23.3.1 updates and pcs-docs f/b fixes
  cspm/admin-guide/_graphics/deleted-asset-text-1.png
  cspm/admin-guide/_graphics/policies-anomaly-1.png
  cspm/admin-guide/_graphics/policies-multi-alert.png
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-aws-account/add-aws-member-accounts-to-prisma-cloud.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-aws-account/add-aws-organization-to-prisma-cloud.adoc
  cspm/admin-guide/prisma-cloud-dashboards/asset-inventory.adoc
  cspm/admin-guide/prisma-cloud-policies/anomaly-policies.adoc
  cspm/admin-guide/prisma-cloud-policies/manage-prisma-cloud-policies.adoc
  cspm/admin-guide/prisma-cloud-policies/prisma-cloud-policies.adoc
Labels: ready-to-be-merged

#944 [CSPM/Platform RN ][Compute Updates for Lagrange Update3 - PCEE]
  cspm/rn/book.yml
  cspm/rn/prisma-cloud-compute-release-information/features-introduced-in-compute-march-2023.adoc
  cspm/rn/prisma-cloud-compute-release-information/prisma-cloud-compute-known-issues.adoc
  cspm/rn/prisma-cloud-compute-release-information/prisma-cloud-compute-release-information.adoc
Labels: compute-rn

#927 [Compute RN PCCE]: Initial structure for LagrangeUpdate3 RN
  compute/rn/book.yml
  compute/rn/book_point_release.yml
  compute/rn/release-information/known-issues-22-12.adoc
  compute/rn/release-information/release-notes-22-12-update3.adoc
Labels: compute-rn

#993 [CSPM RN] added 1 lm known issue and links in RN blurbs
  cspm/rn/prisma-cloud-release-information/features-introduced-in-2023/features-introduced-in-march-2023.adoc
  cspm/rn/prisma-cloud-release-information/known-issues.adoc
Labels: ready-to-be-merged

#974 [Compute RN - KeplerUpdate7] Add RN
  compute/rn/book_point_release.yml
  compute/rn/release-information/release-notes-22-06-update7.adoc
Labels: do-not-merge, compute-rn

#994 [Compute LagrangeUpdate3 PCCE RN]: Use Addressed Issues
  compute/rn/release-information/release-notes-22-12-update3.adoc
Labels: tested, compute-rn, ready-to-be-merged

#1000 [Compute RN] Add Oracle cloud container and image scanning support.
  compute/rn/release-information/release-notes-22-12-update3.adoc
  cspm/rn/prisma-cloud-compute-release-information/features-introduced-in-compute-march-2023.adoc
Labels: docs, tested, compute-rn, ready-to-be-merged

#1001 [Compute AG] Lagrange Update 3 System Requirements
  compute/admin_guide/install/system_requirements.adoc
Labels: docs, tested, compute-AG

#1002 [Compute RN LagrangeUpdate3]: Grammar fix
  compute/rn/release-information/release-notes-22-12-update3.adoc
  cspm/rn/prisma-cloud-compute-release-information/features-introduced-in-compute-march-2023.adoc
Labels: compute-rn, ready-to-be-merged

#1004 [Compute RN]Update build number
  compute/rn/release-information/release-notes-22-12-update3.adoc
Labels: docs, tested, compute-rn, ready-to-be-merged

#1012 [Compute AG] Fix typo in containerd version.
  compute/admin_guide/install/system_requirements.adoc
Labels: docs, tested, compute-AG, ready-to-be-merged

#1015 [CSPM AG] added topic to link to AWS Onboarding API workflow
  cspm/admin-guide/book.yml
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-aws-account/automate-aws-onboarding.adoc
Labels: ready-to-be-merged

#1008 [Compute/CSPM RN PCCE + PCEE - LagrangeUpdate3]: Title update + Add blurb for CWP-40807
  compute/rn/book.yml
  compute/rn/book_point_release.yml
  compute/rn/release-information/known-issues-22-12.adoc
  compute/rn/release-information/release-notes-22-12-update3.adoc
  cspm/rn/prisma-cloud-compute-release-information/features-introduced-in-compute-march-2023.adoc
  cspm/rn/prisma-cloud-compute-release-information/prisma-cloud-compute-known-issues.adoc
  cspm/rn/prisma-cloud-compute-release-information/prisma-cloud-compute-release-information.adoc
Labels: compute-rn, ready-to-be-merged

#995 [Compute AG]: Fix TOC anchors
  compute/admin_guide/configure/permissions.adoc
  compute/admin_guide/install/install_defender/auto_defend_host.adoc
  compute/admin_guide/install/install_defender/install_defender_gcp_marketplace.adoc
  compute/rn/release-information/release-notes-22-06-update1.adoc
  compute/rn/release-information/release-notes-22-06-update2.adoc
  compute/rn/release-information/release-notes-22-06-update3.adoc
  compute/rn/release-information/release-notes-22-12-update1.adoc
  compute/rn/release-information/release-notes-22-12-update2.adoc
Labels: compute-AG, ready-to-be-merged

#1042 [Compute RN]: Include KeplerUpdate7 RN
  compute/rn/book.yml
Labels: docs, compute-rn, ready-to-be-merged

#1041 [CSPM AG] fixed automate aws onboarding topic
  cspm/admin-guide/book.yml
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-aws-account/automate-aws-onboarding.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-aws-account/onboard-your-aws-account.adoc
Labels: ready-to-be-merged

#1009 [CSPM RN] 23.3.2 March 24, 2023
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/cloud-service-provider-regions-on-prisma-cloud.adoc
  cspm/admin-guide/prisma-cloud-compliance/compliance-dashboard.adoc
  cspm/rn/_graphics/gcp-new-regions.png
  cspm/rn/prisma-cloud-release-information/features-introduced-in-2023/features-introduced-in-march-2023.adoc
  cspm/rn/prisma-cloud-release-information/known-issues.adoc
  cspm/rn/prisma-cloud-release-information/look-ahead-planned-updates-prisma-cloud.adoc
Labels: tested, cspm rn, cspm ag, ready-to-be-merged

#1017 [CSPM-AG] - AA- Task Delegation Feature Updates
  .gitignore
  cspm/admin-guide/_graphics/aa-assign-task-to-user.png
  cspm/admin-guide/_graphics/adoption-advisor-dashboard.png
  cspm/admin-guide/manage-prisma-cloud-administrators/adoption-advisor.adoc
Labels: tested, cspm ag, ready-to-be-merged

#1025 3 2 jj
  cspm/admin-guide/manage-prisma-cloud-alerts/suppress-alerts-for-prisma-cloud-anomaly-policies.adoc
Labels: tested, cspm ag, ready-to-be-merged

#1026 url update to fox broken link
  cspm/admin-guide/get-started-with-prisma-cloud/access-the-prisma-cloud-api.adoc
Labels: tested, cspm ag, ready-to-be-merged

#1027 [CSPM AG] 23.3.2 updates
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-your-aws-account/enable-flow-logs-for-amazon-s3.adoc
  cspm/admin-guide/get-started-with-prisma-cloud/enable-access-prisma-cloud-console.adoc
  cspm/admin-guide/manage-prisma-cloud-administrators/add-prisma-cloud-users.adoc
Labels: tested, cspm ag, ready-to-be-merged

#1045 Image Relative Path Corrections
  api/descriptions/intro.md
  api/descriptions/tags/tag_cve_post.md
Labels: bug, compute-api, docs

#1029 [Compute API] v1-corrections-cURL-examples
  api/descriptions/_ping/get.md
  api/descriptions/audits/incidents_download_get.md
  api/descriptions/audits/kubernetes_download_get.md
  api/descriptions/audits/waas_host_download_get.md
  api/descriptions/containers/scan_post.md
  api/descriptions/defenders/id_delete.md
  api/descriptions/defenders/id_features_post.md
  api/descriptions/defenders/id_restart_post.md
  api/descriptions/policies/compliance_ci_serverless_put.md
  api/descriptions/policies/compliance_container_impacted_get.md
  api/descriptions/policies/compliance_serverless_put.md
  api/descriptions/policies/compliance_vms_get.md
  api/descriptions/policies/compliance_vms_put.md
  api/descriptions/policies/firewall_app-embedded_put.md
  api/descriptions/policies/firewall_app_network_list_put.md
  api/descriptions/policies/firewall_network_container_get.md
  api/descriptions/policies/firewall_network_entities_get.md
  api/descriptions/policies/policies.md
  api/descriptions/policies/runtime_app-embedded_post.md
  api/descriptions/policies/runtime_app-embedded_put.md
  api/descriptions/policies/vulnerability_coderepos_get.md
  api/descriptions/policies/vulnerability_coderepos_impacted_get.md
  api/descriptions/policies/vulnerability_host_impacted_get.md
  api/descriptions/policies/vulnerability_images_get.md
  api/descriptions/policies/vulnerability_images_impacted_get.md
  api/descriptions/policies/vulnerability_vms_get.md
  api/descriptions/policies/vulnerability_vms_impacted_get.md
  api/descriptions/policies/vulnerability_vms_put.md
  api/descriptions/profiles/container_learn_post.md
  api/descriptions/scans/download_get.md
  api/descriptions/scans/id_get.md
  api/descriptions/serverless/names_get.md
  api/descriptions/settings/registry_get.md
  api/descriptions/settings/registry_put.md
  api/descriptions/stats/daily_get.md
Labels: compute-api, docs, ready-to-be-merged

#1040 [Compute AG]: Fix broken xrefs
  compute/admin_guide/install/install_defender/install_single_container_defender.adoc
Labels: docs, tested, compute-AG, ready-to-be-merged

#1047 [CSPM RN] RLP-97339 update to look ahead with 23.3.2
  cspm/admin-guide/manage-prisma-cloud-administrators/create-account-groups.adoc
  cspm/rn/prisma-cloud-release-information/look-ahead-planned-updates-prisma-cloud.adoc
Labels: ready-to-be-merged
