Repository PaloAltoNetworks/prisma-cloud-docs, pull requests merged in 2023-09, with the labels that each got.

#1501 [CSPM RN]Compute PCEE - Look ahead for Newton Update 1 (31.01.xx)
  cspm/rn/prisma-cloud-compute-release-information/look-ahead-planned-updates-prisma-cloud-compute.adoc
Labels: ready-to-be-merged, newton-update-1

#1507 [CSPM Alerts Fix]: Update typo in screenshot
  cspm/admin-guide/_graphics/alert-rules-custom-email-review-status.png
  cspm/admin-guide/manage-prisma-cloud-alerts/send-prisma-cloud-alert-notifications-to-third-party-tools.adoc
Labels: tested, cspm ag, ready-to-be-merged

#1508 IAM Query Conditions update
  cspm/rql-reference/rql-reference/iam-query/iam-query-conditions.adoc
Labels: bug, tested, cspm rql, ready-to-be-merged

#1253 Fix tables in runtime_audits.adoc
  compute/admin_guide/runtime_defense/runtime_audits.adoc
Labels: tested, compute-AG, ready-to-be-merged

#1476 [Compute AG: CWP-42722]: certificate info for webhook
  compute/admin_guide/_graphics/trigger_registry_scan_webhooks_docker_hub.png
  compute/admin_guide/vulnerability_management/registry_scanning/scan_artifactory.adoc
  compute/admin_guide/vulnerability_management/registry_scanning/webhooks.adoc
Labels: compute-AG, ready-to-be-merged, newton-update-1

#1491 [AppSec AG]Verify Integration for Code Repositories, Quick Start
  application-security/admin_guide/_graphics/verify-integration.png
  application-security/admin_guide/book.yml
  application-security/admin_guide/get-started/connect-your-repositories/code-repositories/code-repositories.adoc
  application-security/admin_guide/get-started/quick-start.adoc
Labels: tested

#1517 [AppSec RN] 23.9.1
  cspm/rn/book.yml
  cspm/rn/prisma-cloud-code-security-release-information/features-introduced-in-code-security-2023/features-introduced-in-code-security-2023.adoc
  cspm/rn/prisma-cloud-code-security-release-information/look-ahead-planned-updates-prisma-cloud-code-security.adoc
  cspm/rn/prisma-cloud-code-security-release-information/prisma-cloud-code-security-release-information.adoc
Labels: tested, ready-to-be-merged

#1511 [CSPM RN] Sept 8th Publish
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-gcp/prerequisites-to-onboard-gcp.adoc
  cspm/rn/book.yml
  cspm/rn/prisma-cloud-release-information/features-introduced-in-2023/features-introduced-in-2023.adoc
  cspm/rn/prisma-cloud-release-information/features-introduced-in-2023/features-introduced-in-august-2023.adoc
  cspm/rn/prisma-cloud-release-information/features-introduced-in-2023/features-introduced-in-september-2023.adoc
  cspm/rn/prisma-cloud-release-information/look-ahead-planned-updates-prisma-cloud.adoc
Labels: tested, cspm rn, ready-to-be-merged

#1524 [Newton Update 1 - Compute RN PCEE]: Few fixes
  cspm/rn/_graphics/new-registry-add-and-scan.png
  cspm/rn/_graphics/new-registry-save-and-scan.png
  cspm/rn/prisma-cloud-compute-release-information/features-introduced-in-compute-september-2023.adoc
  cspm/rn/prisma-cloud-compute-release-information/prisma-cloud-compute-known-issues.adoc
Labels: compute-rn, ready-to-be-merged, newton-update-1

#1516 [Compute AG: CWP-51586]: Update backup and restore doc
  compute/admin_guide/configure/disaster_recovery.adoc
Labels: docs, compute-AG, ready-to-be-merged

#1499 [Compute AG: CWP-42985]: Support package type scope for vulnerability policy
  compute/admin_guide/_graphics/package-type-specific-severity.png
  compute/admin_guide/_graphics/vulnerability-scan-reports.png
  compute/admin_guide/vulnerability_management/vuln_management_rules.adoc
Labels: compute-AG, ready-to-be-merged, newton-update-1

#1494 [CWP-49316 and 48931]: Support Parallel Registry Scan
  compute/admin_guide/_graphics/jfrog-registry-configured.png
  compute/admin_guide/_graphics/new-registry-add-and-scan.png
  compute/admin_guide/_graphics/registryScan-ScanNow-SaveOnly.png
  compute/admin_guide/vulnerability_management/registry_scanning/configure_registry_scanning.adoc
  compute/admin_guide/vulnerability_management/registry_scanning/nexus-registry.adoc
  compute/admin_guide/vulnerability_management/registry_scanning/scan-gitlab.adoc
  compute/admin_guide/vulnerability_management/registry_scanning/scan_acr.adoc
  compute/admin_guide/vulnerability_management/registry_scanning/scan_alibaba_container_registry.adoc
  compute/admin_guide/vulnerability_management/registry_scanning/scan_artifactory.adoc
  compute/admin_guide/vulnerability_management/registry_scanning/scan_coreos_quay.adoc
  compute/admin_guide/vulnerability_management/registry_scanning/scan_docker_registry_v2.adoc
  compute/admin_guide/vulnerability_management/registry_scanning/scan_ecr.adoc
  compute/admin_guide/vulnerability_management/registry_scanning/scan_gcr.adoc
  compute/admin_guide/vulnerability_management/registry_scanning/scan_google_artifact_registry.adoc
  compute/admin_guide/vulnerability_management/registry_scanning/scan_harbor.adoc
  compute/admin_guide/vulnerability_management/registry_scanning/scan_ibm_cloud_container_registry.adoc
  compute/admin_guide/vulnerability_management/registry_scanning/scan_openshift.adoc
Labels: compute-rn, ready-to-be-merged, newton-update-1

#1535 [PCEE Compute RN: Newton Update 1]: Add fixed issue for CWP-50733
  cspm/rn/prisma-cloud-compute-release-information/prisma-cloud-compute-known-issues.adoc
Labels: compute-rn, ready-to-be-merged, newton-update-1

#1529 [Compute AG]: Remove rbac.adoc file and its references
  compute/admin_guide/_graphics/access_control_docker_engine_565449.png
  compute/admin_guide/_graphics/access_control_docker_engine_565451.png
  compute/admin_guide/authentication/active_directory.adoc
  compute/admin_guide/authentication/openldap.adoc
  compute/admin_guide/authentication/saml.adoc
  compute/admin_guide/deployment_patterns/caps.adoc
  compute/admin_guide/secrets/secrets_manager.adoc
  compute/admin_guide/vulnerability_management/vuln_management_rules.adoc
  compute/admin_guide/waas/waas_advanced_settings.adoc
Labels: tested, compute-AG, ready-to-be-merged, newton-update-1

#1512 Add docs for Azure policies
  application-security/policy-reference/azure-policies/azure-general-policies/azr-general-85.adoc
  application-security/policy-reference/azure-policies/azure-general-policies/azure-general-policies.adoc
  application-security/policy-reference/azure-policies/azure-networking-policies/azr-networking-63.adoc
  application-security/policy-reference/azure-policies/azure-networking-policies/azr-networking-64.adoc
  application-security/policy-reference/azure-policies/azure-networking-policies/azure-networking-policies.adoc
  application-security/policy-reference/book.yml
Labels: tested, ready-to-be-merged

#1527 [Compute AG: CWP-49173]: Add traffic sampling info
  compute/admin_guide/waas/deploy_waas/deployment_vpc_mirroring.adoc
Labels: compute-AG, ready-to-be-merged, newton-update-1

#1509 [Compute][PCCE RN] Add release notes for 30.01
  compute/admin_guide/_graphics/scan-multiple-registries.png
  compute/admin_guide/_graphics/vuln-rule-per-package-severity.png
  compute/rn/_graphics/new-registry-add-and-scan.png
  compute/rn/_graphics/vuln-rule-per-package-severity.png
  compute/rn/book.yml
  compute/rn/book_point_release.yml
  compute/rn/release-information/known-issues-31-00.adoc
  compute/rn/release-information/known-issues-31.adoc
  compute/rn/release-information/release-notes-31-00.adoc
  compute/rn/release-information/release-notes-31-01-update1.adoc
Labels: docs, compute-rn, newton-update-1

#1538 [Compute PCCE RN: Correction] Remove blurb for CWP-50923 - this is still a Bug
  compute/rn/release-information/release-notes-31-00.adoc
  compute/rn/release-information/release-notes-31-01-update1.adoc
Labels: tested, compute-rn, newton-update-1

#1536 [Compute RN PCEE]: CWP-50923: Still a bug and not fixed
  cspm/rn/prisma-cloud-compute-release-information/prisma-cloud-compute-known-issues.adoc
Labels: compute-rn, ready-to-be-merged, newton-update-1

#1540 [Compute PCCE RN]: Update code name to 31.01
  compute/admin_guide/waas/deploy_waas/deployment_vpc_mirroring.adoc
  compute/admin_guide/waas/log_scrubbing.adoc
  compute/rn/release-information/release-notes-31-01-update1.adoc
Labels: compute-rn, ready-to-be-merged, newton-update-1

#1547 [CSPM AG] content fixes
  cspm/admin-guide/_graphics/attack-path-3.png
  cspm/admin-guide/_graphics/attack-path-6.png
  cspm/admin-guide/_graphics/configure-dns-share-1.png
  cspm/admin-guide/_graphics/configure-dns-share-2.png
  cspm/admin-guide/_graphics/configure-dns-share-3.png
  cspm/admin-guide/configure-external-integrations-on-prisma-cloud/prisma-cloud-integrations.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-aws/configure-audit-logs.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-aws/configure-dns-logs.adoc
  cspm/admin-guide/connect-your-cloud-platform-to-prisma-cloud/onboard-aws/troubleshoot-aws-errors.adoc
  cspm/admin-guide/investigate-incidents-on-prisma-cloud/investigate-network-incidents-on-prisma-cloud.adoc
  cspm/admin-guide/manage-prisma-cloud-administrators/prisma-cloud-admin-permissions.adoc
  cspm/admin-guide/prisma-cloud-data-security/disable-pcds-and-offboard-aws-account.adoc
  cspm/admin-guide/prisma-cloud-policies/attack-path-policies.adoc
Labels: tested, cspm ag, ready-to-be-merged

#1548 [CSPM RN] 23.9.2 September 22nd Publish
  cspm/rn/prisma-cloud-code-security-release-information/features-introduced-in-code-security-2023/features-introduced-in-code-security-september-2023.adoc
  cspm/rn/prisma-cloud-code-security-release-information/look-ahead-planned-updates-prisma-cloud-code-security.adoc
  cspm/rn/prisma-cloud-release-information/features-introduced-in-2023/features-introduced-in-september-2023.adoc
  cspm/rn/prisma-cloud-release-information/look-ahead-planned-updates-prisma-cloud.adoc
Labels: tested, cspm rn, ready-to-be-merged

#1559 [AppSec] Changes to policy guide PR #1450
  application-security/policy-reference/book.yml
  application-security/policy-reference/supply-chain-policies/supply-chain-policies.adoc
  application-security/policy-reference/supply-chain-policies/terraform-policies/ensure-terraform-module-sources-use-git-url-with-commit-hash-revision.adoc
  application-security/policy-reference/supply-chain-policies/terraform-policies/terraform-policies.adoc
  compute/admin_guide/waas/waas_advanced_settings.adoc
Labels: tested

#1558 [CSPM RN] Post RN updates for Policies - 23.9.2
  cspm/rn/_graphics/licensing-credits.png
  cspm/rn/prisma-cloud-release-information/features-introduced-in-2023/features-introduced-in-september-2023.adoc
  cspm/rn/prisma-cloud-release-information/look-ahead-planned-updates-prisma-cloud.adoc
Labels: cspm rn, ready-to-be-merged

#1552 [CSPM RN]Compute PCEE - Look ahead for Newton Update 2 (31.02.xx)
  cspm/rn/prisma-cloud-compute-release-information/look-ahead-planned-updates-prisma-cloud-compute.adoc
  cspm/rn/prisma-cloud-compute-release-information/prisma-cloud-compute-release-information.adoc
Labels: do-not-merge, tested, cspm rn, newton-update-2

#1562 [Compute Deploy Defenders]: Single Host Defender improvements
  compute/admin_guide/configure/collections.adoc
  compute/admin_guide/howto/deploy_in_fips_mode.adoc
  compute/admin_guide/howto/review_debug_logs.adoc
  compute/admin_guide/install/deploy-defender/app-embedded/app-embedded.adoc
  compute/admin_guide/install/deploy-defender/app-embedded/deploy-app-embedded-defender-aci.adoc
  compute/admin_guide/install/deploy-defender/app-embedded/deploy-app-embedded-defender-gcr.adoc
  compute/admin_guide/install/deploy-defender/app-embedded/fragments/embed-app-embedded-defender-manually.adoc
  compute/admin_guide/install/deploy-defender/app-embedded/fragments/embed-app-embedded-defender-with-dockerfile.adoc
  compute/admin_guide/install/deploy-defender/app-embedded/fragments/view-deployed-defenders.adoc
  compute/admin_guide/install/deploy-defender/app-embedded/install_app_embedded_defender_fargate.adoc
  compute/admin_guide/install/deploy-defender/container/container.adoc
  compute/admin_guide/install/deploy-defender/container/single-defender-cli.adoc
  compute/admin_guide/install/deploy-defender/host/host.adoc
  compute/admin_guide/install/deploy-defender/orchestrator/install-gke-autopilot.adoc
  compute/admin_guide/install/deploy-defender/orchestrator/install_kubernetes_cri.adoc
  compute/admin_guide/install/deploy-defender/serverless/serverless.adoc
  compute/admin_guide/install/fragments/install_defender_twistcli_export_kubectl.adoc
  compute/admin_guide/upgrade/upgrade_process_saas.adoc
  compute/admin_guide/upgrade/upgrade_process_self_hosted.adoc
  compute/admin_guide/waas/deploy_waas/deployment_vpc_mirroring.adoc
  cspm/rn/prisma-cloud-compute-release-information/features-introduced-in-compute-january-2023.adoc
Labels: docs, tested, ready-to-be-merged

#1561 [Compute AG]: Uninstall Defender updates
  compute/admin_guide/install/deploy-defender/uninstall-defender.adoc
Labels: compute-AG, ready-to-be-merged

#1569 [Fix Defender Dated Image]: Update image and UI path
  compute/admin_guide/_graphics/install-openshift-tl-defenders.png
  compute/admin_guide/_graphics/install_openshift_tl_defenders.png
  compute/admin_guide/install/deploy-defender/orchestrator/install-oc.adoc
Labels: docs, compute-AG, ready-to-be-merged
